taskboard-manager[data-theme="creative"]
{
    border: none;
    background-color: var(--surface-0);
    color: var(--text-surface);
    font-family: 'Karla';
    font-weight: 400;
    font-size: 14px;
}
/* debug */
taskboard-manager[data-theme="creative"]
{
    margin: 3em;
}
taskboard-manager[data-theme="creative"]
{
    /* --accent-0: #f4f9f4;
    --accent-1: #e7f2e6;
    --accent-2: #d0e5cd;
    --accent-3: #aacfa6;
    --accent-4: #7cb177;
    --accent-5: #599453;
    --accent-6: #467841;
    --accent-7: #396035;
    --accent-8: #304d2e;
    --accent-9: #284027;
    --accent-10: #1b321a; */

    
}

/** Elements */
taskboard-manager[data-theme="creative"]::part(input):disabled
{
    background: var(--surface-input-disabled);
    color: var(--text-input-disabled);
}
taskboard-manager[data-theme="creative"]::part(input text)
{
    background: var(--surface-input);
    color: var(--text-input);
    border: var(--border-input);
    border-radius: var(--border-radius-input);
    padding: var(--padding-input);
}

taskboard-manager[data-theme="creative"] select
,taskboard-manager[data-theme="creative"]::part(select)
{
    appearance: none;
    background: var(--surface-select)
    url("data:image/svg+xml,%3Csvg%20viewBox%3D'0%200%2020%2020'%20width%3D'12px'%20height%3D'12px'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cg%20stroke-width%3D'0'%3E%3C%2Fg%3E%3Cg%20stroke-linecap%3D'round'%20stroke-linejoin%3D'round'%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20d%3D'M8.72798%2015.795L3.72798%207.795C3.10356%206.79593%203.82183%205.5%204.99998%205.5L15%205.5C16.1781%205.5%2016.8964%206.79593%2016.272%207.795L11.272%2015.795C10.6845%2016.735%209.31549%2016.735%208.72798%2015.795Z'%20fill%3D'%23fff'%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E")
    calc(100% - 10px) center no-repeat !important;
    color: var(--text-select);
    border: var(--border-select);
    border-radius: var(--border-radius-select);
    padding: var(--padding-input);
}
taskboard-manager[data-theme="creative"]::part(input color)
{
    background: var(--text-surface);
    /* background: red; */
    padding: 0;
    margin: 0;
    border-radius: 14px;
    --color-size: 27px;
    /* width: var(--color-size); */
    height: var(--color-size);
    border: var(--border-icon-button);
}
taskboard-manager[data-theme="creative"]::part(image-input)
{
    border-radius: 4px;
    background: var(--surface-input);
    color: var(--text-select);
    border: var(--border-select);
    border-radius: var(--border-radius-select);
    padding: var(--padding-input);
}
taskboard-manager[data-theme="creative"]::part(button)
{
    background: var(--surface-button);
    color: var(--text-button);
    border: none;
    border-radius: var(--border-radius-button);
    padding: .375rem .75rem;
    font-size: 12px;

    --icon-primary-color: var(--text-button);
    --icon-secondary-color: var(--surface-button);

}
taskboard-manager[data-theme="creative"]::part(button):disabled
{
    background: var(--surface-button-disabled);
    opacity: .7;
    --icon-secondary-color: var(--surface-button-disabled);
    /* 
    color: var(--text-button);
    border: none;
    border-radius: var(--border-radius-button);
    padding: .375rem .75rem;
    font-size: 12px;

    --icon-primary-color: var(--text-button);
    --icon-secondary-color: var(--surface-button); */

}
taskboard-manager[data-theme="creative"]::part(icon-button)
{
    background: var(--surface-icon-button);
    color: var(--text-icon-button);
    border: var(--border-icon-button);
    padding: .375rem;

    --icon-primary-color: var(--text-icon-button);
    --icon-secondary-color: var(--surface-0);
}

taskboard-manager[data-theme="creative"]::part(dialog)
{
    z-index: 10;
    background: var(--surface-dialog);
    border: var(--border-dialog);
    border-radius: var(--border-radius-dialog);
    padding: var(--padding-dialog);
}

taskboard-manager[data-theme="creative"]::part(dialog-header)
{
    /* color: var(--text-dialog-header); */
    /* --icon-primary-color: var(--text-dialog-header); */
    --icon-secondary-color: var(--surface-dialog); 
    --dialog-header-icon-size: 32px;
    font-size: 2.25em;
    padding-bottom: .75em;
}


taskboard-manager[data-theme="creative"]::part(page)
{
    background: var(--surface-panel);
    border: var(--border-panel);
    border-radius: var(--border-radius-panel);

    padding: var(--small-gap);
    gap: var(--small-gap);
}

taskboard-manager[data-theme="creative"]::part(page-header)
{
    font-weight: bold;
    font-size: 16px;
    color: var(--text-page-header);
    text-transform: uppercase;
}

taskboard-manager[data-theme="creative"]::part(fieldset)
{
    background: var(--surface-fieldset);
    border: var(--border-fieldset);
    border-radius: var(--border-radius-card);

    padding: var(--small-gap);
}

taskboard-manager[data-theme="creative"]::part(legend)
{
    padding: 0 var(--small-gap);
    gap: var(--small-gap);
}

taskboard-manager[data-theme="creative"]::part(enabled-checkbox)
{
    appearance: none;
    --size: 20px;
    width: var(--size);
    height: var(--size);
    background-color: var(--surface-input);
    /* opacity: .8; */
    border: var(--border-icon-button);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    grid-row: 2;
    grid-column: 2;
}
taskboard-manager[data-theme="creative"]::part(enabled-checkbox option-true)::before
{
    margin-top: 3px;
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="%23fbf9fe" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
}


taskboard-manager[data-theme="creative"]::part(button-group)
{
    display: flex;
    gap: 0;
}

taskboard-manager[data-theme="creative"]::part(group-button)
{
    background: var(--surface-group-button);
    color: var(--text-option);
    border: var(--border-option);
    border-radius: 0;
}
taskboard-manager[data-theme="creative"]::part(group-button):hover
{
    background: var(--surface-group-button-highlight);
}

taskboard-manager[data-theme="creative"]::part(group-button first)
{
    border-top-left-radius: var(--border-radius-button);
    border-bottom-left-radius: var(--border-radius-button);
}

taskboard-manager[data-theme="creative"]::part(group-button selected)
,taskboard-manager[data-theme="creative"]::part(group-button selected):hover
{
    background: var(--surface-button);
    color: var(--text-button);
}

taskboard-manager[data-theme="creative"]::part(group-button last)
{
    border-top-right-radius: var(--border-radius-button);
    border-bottom-right-radius: var(--border-radius-button);
}


taskboard-manager[data-theme="creative"]::part(cancel)
{
    background: var(--surface-icon-button);
    color: var(--text-icon-button);
    border: var(--border-icon-button);
    /* padding: .375rem; */

    --icon-primary-color: var(--text-icon-button);
    --icon-secondary-color: var(--surface-0);
}

taskboard-manager[data-theme="creative"]::part(confirmation-page)
{
    margin-bottom: 1em;
}


taskboard-manager[data-theme="creative"]::part(handle)
{
    height: 24px;
    translate: 0 2px;
}