taskboard-manager[data-theme="creative"]::part(import-board-data-fieldset)
{
    grid-template-columns: 1fr;
    gap: var(--gap-small);
    overflow-y: auto;
    --size: 12px;

    color: var(--text-surface);
    --properties-highlight: var(--accent-0);
}

taskboard-manager[data-theme="creative"]::part(import-target-details)
{
}
taskboard-manager[data-theme="creative"]::part(removed)
{
    --properties-highlight: var(--text-import-remove-button);
    color: var(--text-import-remove-button);
}
taskboard-manager[data-theme="creative"]::part(import-target-summary top)
{
    /* color: var(--accent-0); */
    /* font-size: 16px; */
}


taskboard-manager[data-theme="creative"]::part(import-target-details)
{
    margin: var(--small-gap) 0 0 var(--small-gap);
}

taskboard-manager[data-theme="creative"]::part(import-target-details import-target-collection)
{
    --surface-import-target: rgb(255 255 255 / .05);
    background: var(--surface-import-target);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
taskboard-manager[data-theme="creative"]::part(import-target-collection):hover
,taskboard-manager[data-theme="creative"]::part(import-target-property):hover
{
    border-color: transparent;
}

taskboard-manager[data-theme="creative"]::part(properties-list)
{
    display: grid;
    gap: var(--gap-small);
}

taskboard-manager[data-theme="creative"]::part(import-target-property)
{
    transition: box-shadow 200ms ease-out;
    border-radius: var(--border-radius-button);
}
taskboard-manager[data-theme="creative"]::part(import-target-property):hover
{
    background: var(--surface-import-target);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

taskboard-manager[data-theme="creative"]::part(import-target-summary)
{
    display: flex;
    gap: var(--gap-small);
}
taskboard-manager[data-theme="creative"]::part(import-target-remove)
{
    padding: 3px 7px;
    --icon-primary-color: var(--text-import-remove-button);
}
taskboard-manager[data-theme="creative"]::part(import-target-undo)
{
    --icon-primary-color: var(--text-surface);
}

taskboard-manager[data-theme="creative"]::part(import-target-details import-target-properties)
{
    margin-top: var(--gap-large);
}

taskboard-manager[data-theme="creative"]::part(import-target-details import-target-properties)
,taskboard-manager[data-theme="creative"]::part(import-target-details import-target-properties):hover
{
    border-top: solid 2px var(--properties-highlight);
}

taskboard-manager[data-theme="creative"]::part(import-target-name)
{
    font-size: 14px;
    font-weight: normal;

    display: flex;
    align-items: center;
}

taskboard-manager[data-theme="creative"]::part(import-target-collection import-target-name)
{
    font-size: 14px;
}