<header id="board-browser-header" class="header dialog-header">
    <svg id="board-browser-icon" class="icon board-icon header-icon">
        <use href="#icon-definition_task-board"></use>
    </svg>
    <span id="board-browser-title" class="title">Boards</span>
    <collection-filter 
        id="filter"
        exportparts="search:filter-search,
                     form:filter-form,
                     query:filter-query,
                     input,
                     filter-input,
                     button,
                     field-button,
                     regex-button:filter-regex-button,
                     search-button:filter-search-button,
                     icon,
                     regex-icon:filter-regex-icon,
                     search-icon:filter-search-icon">
    </collection-filter>
</header>
<collection-browser
    id="collection-browser"
    exportparts="gallery,
                 gallery-header,
                 header,
                 items,
                 add-button,
                 button,
                 icon,
                 add-button-icon,
                 add-button-label">
    <slot></slot>
</collection-browser>
<footer id="board-browser-footer" class="footer dialog-footer">
    <form id="board-browser-actions" class="actions form" method="dialog">
        <button type="submit" id="board-browser-cancel" class="button action-button cancel">Cancel</button>
        <button type="submit" id="board-browser-ok" class="button action-button ok preferred-button">Open</button>
    </form>
</footer>

<!-- <header part="board-browser-header">
    <svg part="board-browser-icon" >
        <use href="#icon-definition_task-board"></use>
    </svg>
    <span part="board-browser-title">Boards</span>
    <collection-filter part="board-browser-filter" id="board-browser-filter"></collection-filter>
</header>
<collection-browser part="board-browser" id="board-browser"></collection-browser>
<footer part="board-browser-footer">
    <form part="board-browser-actions" method="dialog">
        <button type="submit" part="board-browser-cancel" id="board-browser-cancel">Cancel</button>
        <button type="submit" part="board-browser-ok" id="board-browser-ok">Open</button>
    </form>
</footer> -->