<header id="header">
    <svg id="icon" >
        <use href="#icon-definition_gear"></use>
    </svg>
    <span id="title">Configuration</span>
</header>
<menu id="navigation">
    <a data-route="#config/settings" class="nav-item">
        <svg id="settings-route-icon" class="icon">
            <use href="#icon-definition_gear"></use>
        </svg>
        <span>Settings</span>
    </a>
    <a data-route="#config/data" class="nav-item">
        <svg id="data-route-icon" class="icon">
            <use href="#icon-definition_data"></use>
        </svg>
        <span>Data</span>
    </a>
    <a data-route="#config/history" class="nav-item">
        <svg id="history-route-icon" class="icon">
            <use href="#icon-definition_clock"></use>
        </svg>
        <span>History</span>
    </a>
    <a data-route="#config/about" class="nav-item">
        <svg id="about-route-icon" class="icon">
            <use href="#icon-definition_info"></use>
        </svg>
        <span>About</span>
    </a>
</menu>
<path-router id="router" path="settings">
    <route-page path="settings" id="settings-page" class="page">
        <settings-panel id="settings-panel" exportparts="key">
            <slot name="custom-settings" slot="custom-settings"></slot>
        </settings-panel>
    </route-page>
    <route-page path="data" id="data-page" class="page">
        <data-panel id="data-panel"></data-panel>
    </route-page>
    <route-page path="history" id="history-page" class="page">
        <history-panel id="history-panel"></history-panel>
    </route-page>
    <route-page path="about" id="about-page" class="page">
        <about-panel id="about-panel"></about-panel>
    </route-page>
</path-router>
<footer id="footer">
    <form id="actions" method="dialog">
        <button type="submit" id="cancel" class="button">Cancel</button>
        <button type="submit" id="ok" class="button">Ok</button>
    </form>
</footer>