:host
{
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    overflow: hidden;
}

.icon
{
    width: var(--tab-icon-size);
    height: var(--tab-icon-size);
}

#config-header
{
    margin-bottom: 20px;
}

#config-icon
{
    width: var(--dialog-header-icon-size);
    height: var(--dialog-header-icon-size);
}

#config-navigation
{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: field;
    color: fieldtext;
    border: solid 1px graytext;
    border-radius: 2px;
    margin-bottom: 20px;
    user-select: none;
}

.nav-item
{
    --tab-icon-size: 14px;
    padding: 7px 12px;
    display: flex;
    align-items: center;
    gap: 7px;
}

@media (max-width: 665px) 
{
    #navigation
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .nav-item
    {
        justify-content: center;
    }
}

.nav-item[aria-current="page"]
,.nav-item:hover
{
    background-color: highlight;
    color: highlighttext;
}

#config-router
{
    overflow: hidden;
}
.page
{
    overflow-y: auto;
    display: grid;
}


#config-actions
{
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 14px;
    padding-block-start: 10px;
}

.button
{
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#config-cancel
{
    grid-column: 2;
}
#config-ok
{
    grid-column: 3;
}