import-manager .value
{
    display: flex;
    align-items: center;
}

import-manager .old
{
    text-decoration: line-through;
    opacity: .8;
    padding-inline: .5em;
    display: inline-block;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

import-manager .value
{
    max-width: 500px;
    overflow: hidden;
    word-break: break-word;
}
import-manager .value:has(.display)
{
    display: flex;
    flex-direction: column;
}
import-manager .value .view-link
{
    align-self: flex-end;
}

import-manager .removed
{
    text-decoration: line-through;
}

import-manager .value img.preview
{
    max-height: 200px;
}

[part="import-manager-fieldset"]
{
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
}

[part="import-preview"]
{
    overflow: auto;
}
@media (max-width: 665px) 
{
    [part="import-preview"]
    {
        --indent: 5px;
        --property-name-width: 75px;
    }
    [part="import-preview"] .property .name
    {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    [part="import-preview"] .property .value
    {
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
    }
}