*
{
    box-sizing: border-box;
}

:host
{    
    font: inherit;
    display: grid;
    border: solid 1px;
    position: relative;
    background: canvas;
    color: canvastext;

    --icon-size: 12px;
    --tab-icon-size: var(--icon-size);
    --brand-icon-size: 24px;
    --button-icon-size: var(--icon-size);
    --pill-icon-size: var(--icon-size);
    --dialog-margin: 10px;
    --dialog-header-icon-size: 16px;

    --task-width: auto;
}
input, button, textarea, select 
{
    font: inherit; 
}

button
{
    display: inline-flex;
    align-items: center;
    gap: .5em;
}

button svg
{
    width: var(--button-icon-size);
    height: var(--button-icon-size);
}

image-input [slot="placeholder"]
{
    display: grid;
    justify-items: center;
    gap: .25em;
    padding: .5em;
    max-width: 300px;
    max-height: 300px;
}

[part="welcome-page"]
{
    display: grid;
}

[part="welcome"]
{
    align-self: center;
    justify-self: center;
    padding: 1em;
}

[part="recent-boards"]
{
    display: grid;
    margin: 0;
    padding: 0;
}
[part="recent-boards"]::part(items)
{
    display: grid;
    
}
[part="recent-boards"] a
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 7px;
}
[part="recent-boards"] a:hover
{
    background-color: highlight;
    color: highlighttext;
}
[part="new-board-button_welcome"]
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

[part="logo"]
{
    width: 100%;
    height: 80px;
}

[part="loading"]
{
    align-self: center;
    justify-self: center;

    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid highlighttext;
    border-radius: 50%;
    border-top-color: highlight;
    animation: loading-spin 1s ease-in-out infinite;
    -webkit-animation: loading-spin 1s ease-in-out infinite;
    opacity: 0;
    transition: opacity 200ms linear;
    pointer-events: none;
    position: absolute;
}
:host([loading]) [part="loading"]
{
    opacity: 1;
    pointer-events: initial;
    position: static;
}

[part="app-router"]
{
    /* overflow-x: auto;
    overflow-y: hidden; */
}

[part="board-route"]
{
    display: flex;
    overflow: hidden;
}

dialog
{
    max-height: 80%;
    max-width: calc(100% - (var(--dialog-margin)*2));
    overflow: hidden;
    flex-direction: column;
    transition: transform 200ms ease, opacity 200ms ease;
}
dialog[open]
{
    display: flex;
    opacity: 1;
}
@starting-style 
{
    dialog[open]
    {
        opacity: 0;
        transform: translateY(20px);
    }
}

dialog > header
,dialog > form > header
{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 7px;
    align-items: center;
    font-weight: bold;
    padding-block: 5px;
}
dialog > header svg
,dialog > form > header svg
{
    width: var(--dialog-header-icon-size);
    height: var(--dialog-header-icon-size);
}

dialog .route-view
{
    flex:1;
    overflow: hidden;
}

dialog .route-view route-page
{
    overflow: auto;
}


[part="deleted-items"] [data-restore="false"]
{
    scale: .98 .9;
    opacity: .5;
    pointer-events: none;
}

[to-delete]
{
    text-decoration: line-through;
    color: #444;
}

[part="notifications"]
{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    width: 375px;
}
[part="notifications"]:empty
{
    pointer-events: none;
}


[part="confirmation-router"]
{
    margin-block: 1em;
}
[part="confirmation-dialog-form"]
{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
  
@keyframes loading-spin { to { -webkit-transform: rotate(360deg); } }
@-webkit-keyframes loading-spin { to { -webkit-transform: rotate(360deg); } }

[part="icon-definitions"]
{
    display: none;
}

@media (max-width: 665px) 
{
    :host
    {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'menu'
        'taskboard';
    }

    task-board
    {
        scroll-snap-type: x mandatory;
    }
    task-list
    {
        scroll-snap-align: start;
        width: 100%;
    } 
}
@media (max-width: 800px) 
{
    
}

/* only desktop */
@media (min-width: 665px) 
{
    :host
    {
        grid-template-columns: auto 1fr;
        grid-template-areas: 'menu taskboard';
    }

    [part="app-router"]
    {
        grid-column: 2;
        grid-row: 1;
        flex: 1;
    }

    [part="loading"]
    {
        grid-column: 2;
        grid-row: 1;
    }
    dialog
    {
        min-width: 500px;
        max-width: 850px;
        top: 50px;
    }

    task-card::part(description)
    {
        width: min-content;
    }
}
@media (min-width: 800px) 
{
}