*
{
    box-sizing: border-box;
}

/* helper parts */
/* 
    text
    button
    fieldset
    legend
    input
    textinput
    toggle
    select
    field
    icon
    detail
    summary
    listitem
    header
 */

:host
{    
    font: inherit;
    display: grid;
    border: solid 1px;
    position: relative;
    background: canvas;
    color: canvastext;

    --icon-size: 12px;
    --tab-icon-size: var(--icon-size);
    --brand-icon-size: 24px;
    --button-icon-size: var(--icon-size);
    --dialog-margin: 10px;
    --dialog-header-icon-size: 16px;

    --task-width: auto;
}

#welcome-page
{
    display: grid;
}

#loading
{
    align-self: center;
    justify-self: center;

    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid highlighttext;
    border-radius: 50%;
    border-top-color: highlight;
    animation: loading-spin 1s ease-in-out infinite;
    -webkit-animation: loading-spin 1s ease-in-out infinite;
    opacity: 0;
    transition: opacity 200ms linear;
    pointer-events: none;
    position: absolute;
}
:host([loading]) #loading
{
    opacity: 1;
    pointer-events: initial;
    position: static;
}

app-menu
{
    display: contents;
}

.board
{
    user-select: none;
}

#app-router
{
    overflow: hidden;
}

#board-route
{
    display: flex;
    overflow: hidden;
}

task-board
{
    flex: 1;
}

task-card[data-drag-id]
{
    /* background-color: red; */
    padding: 10px;
    scale: .9;
    border: dashed 1px graytext;
}

captioned-thumbnail::part(selected)
{
    display: none;
}


#notifications
{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    width: 375px;
    display: grid;
    row-gap: 7px;
}
#notifications:empty
{
    pointer-events: none;
}

#message-content
{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
    
/* message-card
{
    background-color: field;
    box-shadow: 1px 1px 7px 3px rgb(0 0 0 / .4);
}

message-card::part(message)
{
    display: grid;
    grid-template-columns: 1fr auto;
} */


#confirmation-router
{
    margin-block: 1em;
}
#confirmation-dialog-form
{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
  
@keyframes loading-spin { to { -webkit-transform: rotate(360deg); } }
@-webkit-keyframes loading-spin { to { -webkit-transform: rotate(360deg); } }


@media (max-width: 665px) 
{
    :host
    {
        grid-template-rows: 1fr auto auto;
        grid-template-columns: 1fr;
        /* grid-template-areas: 'menu'
        'taskboard'; */
    }

    task-board::part(lists)
    {
        scroll-snap-type: x mandatory;
    }
    task-list
    {
        scroll-snap-align: start;
        width: 100vw;
    }
    task-list::part(collapse-button)
    {
        display: none;
    }
    
    #notifications
    {
        width: 100vw;
    }

    dialog
    {
        bottom: 25px;
    }
}
@media (max-width: 800px) 
{
    
}

/* only desktop */
@media (min-width: 665px) 
{
    :host
    {
        grid-template-columns: auto 1fr;
        grid-template-areas: 'menu taskboard';
    }

    #app-router
    {
        grid-column: 2;
        grid-row: 1;
        flex: 1;
    }

    #loading
    {
        grid-column: 2;
        grid-row: 1;
    }
    dialog
    {
        min-width: 500px;
        max-width: 850px;
        top: 50px;
    }

    task-card::part(description)
    {
        width: min-content;
    }

    task-list
    {
        transition: width 200ms linear;
    }
    task-list::part(collapse-icon)
    {
        rotate: -90deg;
        transition: color 200ms linear;
    }
    task-list[collapsed]
    {
        overflow: hidden;
        --list-min-width: var(--collapsed-list-width, calc(1ch + 45px));
        width: 0;
    }
    task-list[collapsed]::part(collapse-icon)
    {
        font-size: 24px;
        color: var(--list-color);
    }
    task-list[collapsed]::part(color-container)
    ,task-list[collapsed]::part(name)
    ,task-list[collapsed]::part(add-button)
    {
        display: none;
    }
}
@media (min-width: 800px) 
{
}
@media (prefers-color-scheme: dark) 
{
    :host(:not([style*="color-scheme: light;"])) config-panel::part(key)
    {
        background-color: #444;
        color: #aaa;
        border-color: #666;
        box-shadow: 1px 1px rgba(255, 255, 255, 0.6),
        0 2px 0 0 rgba(255, 255, 255, 0.1) inset;
    }
}
:host([style*="color-scheme: dark;"]) config-panel::part(key)
{
    background-color: #444;
    color: #aaa;
    border-color: #666;
    box-shadow: 1px 1px rgba(255, 255, 255, 0.6),
    0 2px 0 0 rgba(255, 255, 255, 0.1) inset;
}