<details part="details">
    <summary part="summary">
        <div part="handle"></div>
        <input part="color" type="color" />
        <input part="name" type="text" />
        <button part="duplicate-button" type="button">
            <svg part="duplicate-icon">
                <use href="#icon-definition_copy"></use>
            </svg>
        </button>
        <button part="remove-button" type="button">
            <svg part="remove-icon">
                <use href="#icon-definition_cancel-cross"></use>
            </svg>
        </button>
    </summary>
    <div part="detail-content">
        <fieldset part="list-settings">
            <legend part="list-settings-legend">
                <span part="list-setting-title">List</span>
            </legend>
            <div class="column">
                <form-field part="background-color-field" label="Background Color" optional optional-title="Override Background Color?">
                    <input type="color" name="background-color" part="background-color" value="#f9faf5" />
                </form-field>
                <form-field part="font-color-field" label="Font Color" optional optional-title="Override Font Color?">
                    <input type="color" name="font-color" part="font-color" value="#060703" />
                </form-field>
            </div>
            <div class="column">
                <form-field label="Order" part="order-field">
                    <input type="text" part="order" name="order" inputmode="numeric" disabled />
                </form-field>
                <form-field part="list-width-field" label="List Width" optional optional-title="Use a custom list width?">
                    <input type="text" inputmode="numeric" name="list-width" part="list-width" value="" />
                    <span part="list-width-unit" slot="postfix">px</span>
                </form-field>
                <form-field part="color-display-field" label="Color Display">
                    <select name="color-display" part="color-display"></select>
                </form-field>
            </div>
        </fieldset>
        <fieldset part="task-settings">
            <legend part="task-settings-legend">
                <span part="task-setting-title">List Tasks</span>
            </legend>
            <task-fields part="task-fields"></task-fields>
        </fieldset>
    </div>
</details>