:host
{
    display: grid;
    grid-template-columns: auto minmax(160px, 1fr) auto;
}

fieldset
{
    display: grid;
    gap: 1em;
    min-width: 0;
    width: auto;
}
input,select,textarea
{
    font: inherit;
    min-width: 0;
    width: auto;
}

input[type="color"]
{
    width: 100%;
}
input[type="text"][inputmode="numeric"]
{
    width: 5ch;
}

form-field .container
{
}
form-field .field-label
{
    display: flex;
    gap: 5px;
    margin-bottom: 7px;
}

[part="appearance-fields"]
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

[part="appearance-fields"] .container > input
{
    flex: 1;
    min-height: 2ch;
}

[part="border-radius-field"] .option
{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
}

[part="border-weights-fields"]
{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content min-content;
}

[part="font-size-field"] .container
,[part="card-width-field"] .container
,[part="border-weights-fields"] .container
{
    align-items: flex-start;
    column-gap: .25em !important;
}

[part="font-size-field"] [slot="postfix"]
,[part="card-width-field"] .container
,[part="card-width-field"] [slot="postfix"]
,[part="card-width-field"] input[type="text"]
,[part="border-weights-fields"] [slot="postfix"]
{
    align-self: flex-end;
}

[part="center-checkbox-field"] input
,[part="center-remove-button-field"] input
{
    justify-self: flex-start;
    margin: 0;
}