<input type="hidden" name="record-id" part="record-id" />
<fieldset part="appearance-fields">
    <legend part="appearance-legend">Appearance</legend>

    <form-field part="font-size-field" label="Font Size" optional optional-title="Override Font Size?">
        <input type="text" inputmode="numeric" name="font-size" part="font-size" />
        <span part="font-size-unit" slot="postfix">px</span>
    </form-field>
    <form-field part="background-color-field" label="Background Color" optional optional-title="Override Background Color?">
        <input type="color" name="background-color" part="background-color" value="#f9faf5" />
    </form-field>
    <form-field part="border-radius-field" label="Border Radius" optional optional-title="Override Border Radius?">
        <input type="text" inputmode="numeric" name="border-radius" part="border-radius" />
        <select part="border-radius-unit" slot="postfix">
            <option value="px">px</option>
            <option value="%">%</option>
        </select>
    </form-field>
    <form-field part="font-color-field" label="Font Color" optional optional-title="Override Font Color?">
        <input type="color" name="font-color" part="font-color" value="#060703" />
    </form-field>
    <form-field part="color-display-field" label="Color Display">
        <select name="color-display" part="color-display"></select>
    </form-field>
    <form-field part="border-color-field" label="Border Color" optional optional-title="Override Border Color?">
        <input type="color" name="border-color" part="border-color" value="#060703" />
    </form-field>
</fieldset>  

<fieldset part="layout-fields">
    <legend part="layout-legend">Layout</legend>
    <form-field part="center-checkbox-field" label="Center Checkbox">
        <input type="checkbox" name="center-checkbox" part="center-checkbox" title="Center the checkbox?" />
    </form-field>
    <form-field part="center-remove-button-field" label="Center Remove Button">
        <input type="checkbox" name="center-remove-button" part="center-remove-button" title="Center the remove button?" />
    </form-field>
    <form-field part="card-width-field" label="Card Width" optional option-title="Override Task Card Width?">
        <input type="text" inputmode="numeric" name="card-width" part="card-width" value="" />
        <span part="card-width-unit" slot="postfix">px</span>
    </form-field>
</fieldset>      

<fieldset part="border-weights-fields">
    <legend part="border-weights-legend">Border Weights</legend>
    <form-field part="border-top-field" label="Top" optional optional-title="Use a custom top border size?">
        <input type="text" inputmode="numeric" name="border-top" part="border-top" />
        <span part="border-top-unit" slot="postfix">px</span>
    </form-field>
    <form-field part="border-right-field" label="Right" optional optional-title="Use a custom right border size?">
        <input type="text" inputmode="numeric" name="border-right" part="border-right" />
        <span part="border-right-unit" slot="postfix">px</span>
    </form-field>
    <form-field part="border-bottom-field" label="Bottom" optional optional-title="Use a custom bottom border size?">
        <input type="text" inputmode="numeric" name="border-bottom" part="border-bottom" />
        <span part="border-bottom-unit" slot="postfix">px</span>
    </form-field>
    <form-field part="border-left-field" label="Left" optional optional-title="Use a custom left border size?">
        <input type="text" inputmode="numeric" name="border-left" part="border-left" />
        <span part="border-left-unit" slot="postfix">px</span>
    </form-field>
</fieldset>