<header id="header">About</header>
<fieldset id="about-app-fieldset">
    <legend id="about-app-legend">App</legend>
    <p class="text">The <em class="emphasis">My Boards</em> app is a Single Page App (SPA) implementation of the <code class="code">taskboard-manager</code> custom element.</p>
    <p class="text">To see a Progressive Web App implementation of the <code class="code">taskboard-manager</code> custom element, see the </p>
</fieldset>
<fieldset id="version-fieldset">
    <legend id="version-legend">Version</legend>
    <div id="version-value">--.--.--</div>
</fieldset>
<fieldset id="copyright-fieldset">
    <legend id="copyright-legend">Copyright</legend>
    <div id="copyright-description">
        <!-- For derivative work, replace this license with your own copyright -->
        <p class="text" xmlns:cc="http://creativecommons.org/ns#" >
            Both are released with 
            <a id="cc0-link" class="link" href="https://creativecommons.org/publicdomain/zero/1.0/?ref=chooser-v1" 
            target="_blank" 
            rel="license noopener noreferrer" 
            style="display:inline-block;">
                CC0 1.0
                <img id="cc-icon" class="icon raster" style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="Creative Commons Icon">
                <img id="zero-icon" class="icon raster" style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1" alt="Zero Icon">
            </a>
        </p>
        <!-- End of CC0 License -->
    </div>
</fieldset>