
<header part="data-header">Data</header>
<fieldset part="import-fieldset">
    <legend part="import-legend">Import</legend>
    <form-field part="import-field" label="Taskboard Data File" input-selector="fileimage-input">
        <fileimage-input part="import-board-file" id="import-board-file">
            <svg slot="icon" part="import-file-icon" >
                <use href="#icon-definition_file"></use>
            </svg>
        </fileimage-input>
    </form-field>
    <button part="import-button" id="import-button">
        <svg part="import-button-icon" >
            <use href="#icon-definition_import"></use>
        </svg>
        <span part="import-button-label">Import Board</span>
    </button>
</fieldset>
<div part="config-data-caches">
    <fieldset part="data-cleanup-fieldset">
        <legend part="data-cleanup-legend">Data Cleanup</legend>
        <div part="data-cleanup-description">
            <p>Deleted items persist in the data store in order to enable Undo and Redo functionality.</p>
            <p>Set how many days deleted item should perisist using the slider below.</p>
        </div>
        <form-field label="Days" part="data-cleanup-range">
            <input type="range" id="data-persist-days" part="data-persist-days" max="30" list="data-persist-days-values" />
            <datalist id="data-persist-days-values"  part="data-persist-days-values"></datalist>
            <span slot="postfix" part="data-persist-days-value" id="data-persist-days-value"></span>
            <button slot="postfix" part="apply-data-persist-days-button" id="apply-data-persist-days-button">
                <svg part="apply-data-persist-days-icon">
                    <use href="#icon-definition_confirm-check"></use>
                </svg>
                <span part="apply-data-persist-days-label">Apply</span>
            </button>
        </form-field>
    </fieldset>
    <fieldset part="data-pending-fieldset">
        <legend part="data-pending-legend">Pending Cleanup</legend>
        <div part="data-pending-description">
            <p>The following items have been deleted and will be purged from the data store after the configured cleanup days.</p>
        </div>
        <editable-list part="deleted-items" id="deleted-items">
            <template part="remove-button">
                <svg part="restore-item-icon" title="Restore">
                    <use href="#icon-definition_restore"></use>
                </svg>
            </template>
        </editable-list>
        <button part="clear-deleted-button" id="clear-deleted-button">
            <svg part="clear-deleted-icon" title="Clear">
                <use href="#icon-definition_trash"></use>
            </svg>
            <span part="clear-deleted-label">Clear Pending Items</span>
        </button>
    </fieldset>
    <fieldset part="image-cache-fieldset">
        <legend part="image-cache-legend">Image Cache</legend>
        <div part="image-cache-description">
            <p>Caching some image files provides undo and redo support.</p>
            <p>The images below have been deleted, but will not be automatically removed until they reach the expiration limit.</p>
        </div>
        <editable-list part="deleted-images" id="deleted-images"></editable-list>
        <button part="clear-image-cache-button" id="clear-image-cache-button">
            <svg part="clear-images-icon" title="Clear">
                <use href="#icon-definition_trash"></use>
            </svg>
            <span part="clear-images-label">Clear Image Cache</span>
        </button>
    </fieldset>
</div>
<fieldset part="data-clear-fieldset">
    <legend part="data-clear-legend">Clear Data</legend>
    <div part="data-clear-description">
        <p>Delete all data, including app settings and history.</p>
    </div>
    <button part="clear-data-button" id="clear-data-button">
        <svg part="clear-data-icon" title="Clear">
            <use href="#icon-definition_trash"></use>
        </svg>
        <span part="clear-data-label">Clear All Data</span>
    </button>
</fieldset>