:host
{
    display: grid;
    gap: 1em;
    padding: 1em;
}
input,select,textarea
{
    font: inherit;
    min-width: 0;
    width: auto;
}

details summary
{
    user-select: none;
    display: inline-flex;
    gap: .25em;
    margin-bottom: 1em;
}
summary:before
{
    content: '▶';
    transform-origin: 45% 50%;
    transition: transform 100ms ease-out;
    font-size: .78em;
    align-self: center;
    margin-right: .25em;
}
details[open] summary:before
{
    transform: rotate(90deg);
}

form-field:not([part^="background-image-offset"]) input[inputmode="numeric"]
{
    width: 5ch;
}

form-field:not([part^="background-image-offset"]) [part="container"]
{
    display: flex;
    flex-direction: column;
    gap: .25em;
}

fieldset
{
    display: grid;
    gap: 1em;
    min-width: 0;
    width: auto;
}

fieldset legend
{
    display: flex;
    gap: .25em;
    align-items: center;
}

form-field [part="label"]
,form-field [part="field-label"]
{
    display: flex;
    gap: .25em;
    align-items: center;
}
form-field [part="label"] input
,form-field [part="field-label"] input
{
    margin: 0;
}
form-field [part="label"] [part="text"]
,form-field [part="field-label"] [part="text"]
{
    flex: 1;
}

image-input::part(field)
{
    display: grid;
    align-items: center;
    justify-items: center;
}

image-input::part(preview)
{
    max-height: 64px;
    height: 100%;
}

image-input [slot="placeholder"]
{
    display: grid;
    justify-items: center;
    gap: .25em;
    padding: .5em;
    max-width: 600px;
    max-height: 300px;
}
image-input[specified] [slot="placeholder"]
{
    display: none;
}


[part="properties"]
{
    display: flex;
    align-items: center;
    gap: 1em;
    grid-column: span 2;
}

[part="name-field"] [part="container"]
{
    flex: 1;
}

[part="appearance-fieldset"] [part="container"] > input
{
    flex: 1;
    min-height: 2ch;
}

[part="background-image-offset"]
{
    display: grid;
    gap: .5em;
}

[part="offset-header"]
{
    grid-column: span 2;
}

[part="background-image-offset"] form-field [part="container"]
{
    display: flex;
    gap: .5em;
    align-items: center;
}

[part="background-image-offset"] input
{
    flex: 1;
    width: 0;
    min-width: 5ch;
    /* max-width: 10ch; */
}

[part="lists"]
{
    grid-column: span 2;
}

[part="list-items"]
{
    gap: 1em;
    display: grid;
}

[part="list-actions"]
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    padding: .5em 0;
}

[part="tasks"]
{
    grid-column: span 2;
}

[part="export-fieldset"]
{
    grid-column: span 2;
    padding: 1em;
    display: block;
}

[part="export-actions"]
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5em;
    padding: .5em 0;
}

[part="export-fieldset"] form-field [part="container"]
{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: .25em;
}

[part="export-options"]
{
    display: inline-block;
}

[part="export-options"] > header
{
    margin-bottom: 1em;
    border-bottom: solid 2px;
}

[part="export-fieldset"] button
{
    margin-left: auto;
    display: block;
}

svg
{
    width: 18px;
    height: 18px;
}
button svg
{
    width: 12px;
    height: 12px;
}

[part="list-items"]::part(add-button)
{
    display: none;
}

[part="icon-definitions"]
{
    display: none;
}