
<input type="hidden" name="record-id" part="record-id" />
<div part="properties">
    <form-field label="Color" part="color-field">
        <input type="color" part="color" name="color" value="#000000" />
    </form-field>
    <form-field label="Name" part="name-field">
        <input type="text" part="name" name="name" value="New Board" />
    </form-field>
    <form-field label="Order" part="order-field">
        <input type="text" part="order" name="order" inputmode="numeric" disabled />
    </form-field>
</div>
<fieldset part="appearance-fieldset">
    <legend>
        <svg part="image-icon" >
            <use href="#icon-definition_color"></use>
        </svg>
        <span part="appearance-label">Appearance</span>
    </legend>
    <form-field part="background-color-field" label="Background Color" optional optional-title="Override Background Color?">
        <input type="color" name="background-color" part="background-color" value="#f9faf5" />
    </form-field>
    <form-field part="font-color-field" label="Font Color" optional optional-title="Override Font Color?">
        <input type="color" name="font-color" part="font-color" value="#060703" />
    </form-field>
</fieldset>
<fieldset part="image-fieldset">
    <legend>
        <svg part="image-icon" >
            <use href="#icon-definition_image"></use>
        </svg>
        <span part="image-label">Background Image</span>
    </legend>
    <form-field part="background-image-field" label="Background Image" input-selector="image-input">
        <image-input name="background-image" part="background-image">
            <span slot="placeholder">
                <svg part="image-icon" >
                    <use href="#icon-definition_image"></use>
                </svg>
                <span>Select an image...</span>
            </span>
        </image-input>
    </form-field>
    <form-field part="background-image-display-field" label="Display">
        <select part="background-image-display" name="background-image-display">
            <option value="stretch">Stretch</option>
            <option value="center">Center</option>
            <option value="tile">Tile</option>
        </select>
    </form-field>
    <div part="background-image-offset">
        <div part="offset-header">
            <span part="offset-label">Offset</span>
        </div>
        <form-field part="background-image-offset-x-field" label="X">
            <input type="text" inputmode="numeric" part="background-image-offset-x" name="background-image-offset-x" />
        </form-field>
        <form-field part="background-image-offset-y-field" label="Y">
            <input type="text" inputmode="numeric" part="background-image-offset-y" name="background-image-offset-y" />
        </form-field>
    </div>
</fieldset>
<details open part="lists">
    <summary part="lists-summary">
        <svg part="lists-icon" >
            <use href="#icon-definition_task-list"></use>
        </svg>
        <span part="lists-legend-label">Lists<span>
    </summary>
    <div part="list-items"><slot><em part="lists-placeholder">No Lists</em></slot></div>
    <div part="list-actions">
        <button type="button" part="clear-lists-button" title="Clear All Lists">
            <svg part="clear-lists-button-icon" >
                <use href="#icon-definition_trash"></use>
            </svg>
            <span part="clear-board-lists-label">Clear</span>
        </button>
        <button type="button" part="add-list-button">
            <svg part="add-list-button-icon" >
                <use href="#icon-definition_plus"></use>
            </svg>
            <span part="add-list-label">Add List</span>
        </button>
    </div>
</details>
<details part="tasks" open>
    <summary part="tasks-summary">
        <svg part="tasks-icon" >
            <use href="#icon-definition_task"></use>
        </svg>
        <span part="tasks-label">Task Settings</span>
    </summary>
    <task-fields part="task-fields"></task-fields>
</details>
<fieldset part="delete-fieldset">
    <legend part="delete-legend">Delete</legend>
    <p>Delete this board?</p>
    <button type="submit" part="remove-board-button">
        <svg part="remove-board-icon" >
            <use href="#icon-definition_trash"></use>
        </svg>
        <span part="remove-board-label">Delete</span>
    </button>
</fieldset>
<fieldset part="duplicate-fieldset">
    <legend part="duplicate-legend">Duplicate</legend>
    <p>Duplicate this board?</p>
    <form-field label="New Board Name">
        <input type="text" part="duplicate-board-new-name" />
    </form-field>
    <button type="button" part="duplicate-board-button">
        <svg part="duplicate-board-icon" >
            <use href="#icon-definition_trash"></use>
        </svg>
        <span part="duplicate-board-label">Duplicate</span>
    </button>
</fieldset>
<fieldset part="export-fieldset">
    <legend part="export-legend">Export</legend>
    <div part="export-options">
        <header>Options</header>
        <form-field part="export-images-field" label="Export Background Image?">
            <svg part="export-images-icon" slot="prefix">
                <use href="#icon-definition_image"></use>
            </svg>
            <input type="checkbox" part="export-background-image" checked="true">
        </form-field>
    </div>
    <button part="export-button" type="button">
        <svg part="export-button-icon" >
            <use href="#icon-definition_export"></use>
        </svg>
        <span part="export-button-label">Export Board</span>
    </button>
</fieldset>