<header id="import-header" class="header dialog-header">
    <svg id="import-icon" class="icon header-icon">
        <use href="#icon-definition_import"></use>
    </svg>
    <span id="import-title" class="title dialog-title">Import</span>
</header>
<div id="content">
    <fieldset id="import-board-data-fieldset" class="fieldset import-fieldset">
        <legend id="import-board-data-legend" class="legend import-legend">Board Data</legend>
        <p id="description">The following Taskboard, Tasklists, and Tasks will be imported with their settings. Make final adjustments and select "Import" to complete the import.</p>
        <record-tree id="preview" removed-class parent-name="Board"></record-tree>
    </fieldset>
</div>
<footer id="import-footer" class="footer dialog-footer">
    <form id="import-actions" class="actions" method="dialog">
        <button type="submit" id="import-cancel" class="button action-button cancel label-button" title="Cancel import">Cancel</button>
        <button type="submit" id="import-ok" class="button action-button preferred-button ok label-button" title="Confirm import">Import</button>
    </form>
</footer>

