

:host
{
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 7px;
    flex: 1;
}
.header
{
    font-size: 14px;
    font-weight: bold;
}

#custom-settings-fieldset
{
    color: graytext;
    display: flex;
    align-items: center;
}

.key
{
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
    padding-block: 5px;
    margin-block: 3px;
}