<form method="dialog" id="board-settings-form" class="form">
    <header id="board-settings-header" class="header dialog-header">
        <svg id="board-settings-icon" class="icon">
            <use href="#icon-definition_task-board"></use>
        </svg>
        <span id="board-settings-title" class="title">Board</span>
        <button type="submit" id="close-board-button" class="button header-button" title="Close Board">
            <svg id="close-board-icon" class="icon">
                <use href="#icon-definition_close-cross"></use>
            </svg>
        </button>
    </header>
    <div id="fields">
        <input type="hidden" name="record-id" id="record-id" />
        <div id="properties">
            <form-field label="Color" id="color-field" class="field">
                <input type="color" id="color" class="input" name="color" value="#000000" />
            </form-field>
            <form-field label="Name" id="name-field" class="field">
                <input type="text" id="name" class="input" name="name" value="New Board" />
            </form-field>
            <form-field label="Order" id="order-field" class="field">
                <input type="text" id="order" class="input" name="order" inputmode="numeric" disabled />
            </form-field>
        </div>
        <fieldset id="appearance-fieldset" class="fieldset board-settings-fieldset">
            <legend id="appearance-legend" class="legend board-settings-legend">
                <svg id="color-icon" class="icon">
                    <use href="#icon-definition_color"></use>
                </svg>
                <span id="appearance-label" class="label legend-label">Appearance</span>
            </legend>
            <form-field id="background-color-field" class="field" label="Background Color" optional optional-title="Override Background Color?">
                <input type="color" name="background-color" id="background-color" class="input" value="#f9faf5" />
            </form-field>
            <form-field id="font-color-field" label="Font Color" class="field" optional optional-title="Override Font Color?">
                <input type="color" name="font-color" id="font-color" class="input" value="#060703" />
            </form-field>
        </fieldset>
        <fieldset id="image-fieldset" class="fieldset board-settings-fieldset">
            <legend id="image-legend" class="legend board-settings-legend">
                <svg id="image-icon" class="icon" >
                    <use href="#icon-definition_image"></use>
                </svg>
                <span id="image-label" class="label legend-label">Background Image</span>
            </legend>
            <form-field id="background-image-field" class="field" label="Background Image" input-selector="fileimage-input">
                <fileimage-input name="background-image" id="background-image" class="input" placeholder="Select an image...">
                    <svg id="background-image-icon" class="icon" slot="placeholder-icon">
                        <use href="#icon-definition_image"></use>
                    </svg>
                </fileimage-input>
            </form-field>
            <form-field id="background-image-display-field" class="field" label="Display">
                <select id="background-image-display" class="select" name="background-image-display">
                    <option value="stretch">Stretch</option>
                    <option value="center">Center</option>
                    <option value="tile">Tile</option>
                </select>
            </form-field>
            <div id="background-image-offset">
                <div id="offset-header">
                    <span id="offset-label">Offset</span>
                </div>
                <form-field id="background-image-offset-x-field" class="field" label="X">
                    <input type="text" inputmode="numeric" id="background-image-offset-x" class="input" name="background-image-offset-x" />
                </form-field>
                <form-field id="background-image-offset-y-field" class="field" label="Y">
                    <input type="text" inputmode="numeric" id="background-image-offset-y" class="input" name="background-image-offset-y" />
                </form-field>
            </div>
        </fieldset>
        <details open id="lists" class="settings-details board-settings-details">
            <summary id="lists-summary" class="settings-summary board-settings-summary">
                <svg id="lists-icon" class="icon">
                    <use href="#icon-definition_task-list"></use>
                </svg>
                <span id="lists-label">Lists<span>
            </summary>
            <div id="list-items"><slot><em id="lists-placeholder">No Lists</em></slot></div>
            <div id="list-actions">
                <button type="button" id="clear-lists-button" class="button" title="Clear All Lists">
                    <svg id="clear-lists-button-icon" class="icon">
                        <use href="#icon-definition_trash"></use>
                    </svg>
                    <span id="clear-lists-button-label">Clear</span>
                </button>
                <button type="button" id="add-list-button" class="button">
                    <svg id="add-list-button-icon" class="icon">
                        <use href="#icon-definition_plus"></use>
                    </svg>
                    <span id="add-list-button-label">Add List</span>
                </button>
            </div>
        </details>
        <details id="tasks" open class="settings-details board-settings-details">
            <summary id="tasks-summary" class="settings-summary board-settings-summary">
                <svg id="tasks-icon" class="icon">
                    <use href="#icon-definition_task"></use>
                </svg>
                <span id="tasks-label">Task Settings</span>
            </summary>
            <task-fields
                id="board-task-settings"
                class="task-fields"
                exportparts=""
            ></task-fields>
        </details>
        <fieldset id="delete-fieldset" class="fieldset board-settings-fieldset">
            <legend id="delete-legend" class="legend board-settings-legend">Delete</legend>
            <p class="field-question">Delete this board?</p>
            <button type="submit" id="remove-board-button" class="button">
                <svg id="remove-board-icon" class="icon">
                    <use href="#icon-definition_trash"></use>
                </svg>
                <span id="remove-board-label">Delete</span>
            </button>
        </fieldset>
        <fieldset id="duplicate-fieldset" class="fieldset board-settings-fieldset">
            <legend id="duplicate-legend" class="legend board-settings-legend">Duplicate</legend>
            <p class="field-question">Duplicate this board?</p>
            <form-field id="duplicate-board-name-field" class="field" label="New Board Name">
                <input type="text" id="duplicate-board-name" class="input" />
            </form-field>
            <button type="button" id="duplicate-board-button" class="button">
                <svg id="duplicate-board-icon" class="icon">
                    <use href="#icon-definition_copy"></use>
                </svg>
                <span id="duplicate-board-label">Duplicate</span>
            </button>
        </fieldset>
        <fieldset id="export-fieldset" class="fieldset board-settings-fieldset">
            <legend id="export-legend" class="legend board-settings-legend">Export</legend>
            <div id="export-options">
                <header id="export-options-header" class="field-header">Options</header>
                <form-field id="export-images-field" class="field" label="Export Background Image?">
                    <svg id="export-images-icon" class="icon" slot="prefix">
                        <use href="#icon-definition_image"></use>
                    </svg>
                    <input type="checkbox" id="export-background-image" class="input" checked="true">
                </form-field>
            </div>
            <button id="export-button" class="button" type="button">
                <svg id="export-button-icon" class="icon">
                    <use href="#icon-definition_export"></use>
                </svg>
                <span id="export-button-label">Export Board</span>
            </button>
        </fieldset>
    </div>
    <footer id="board-settings-footer" class="footer dialog-footer">
        <button type="submit" id="board-settings-cancel" class="button action-button cancel" title="Cancel changes">Cancel</button>
        <button type="submit" id="board-settings-save" class="button action-button ok preferred-button" title="Save settings">Save</button>
    </footer>
</form>