
<header part="history-header">History</header>
<fieldset part="history-navigation">
    <legend part="history-navigation-legend">Navigation</legend>
    <button part="history-control-undo" id="history-control-undo">
        <svg part="restore-item-icon" title="Undo">
            <use href="#icon-definition_undo-redo"></use>
        </svg>
        <span part="history-control-undo-label">Undo</span>
    </button>
    <button part="history-control-redo" id="history-control-redo">
        <svg part="restore-item-icon" title="Redo" style="transform: scaleX(-1);">
            <use href="#icon-definition_undo-redo"></use>
        </svg>
        <span part="history-control-redo-label">Redo</span>
    </button>
    <button part="clear-history-button" id="clear-history-button">
        <svg part="clear-history-icon" title="Clear">
            <use href="#icon-definition_trash"></use>
        </svg>
        <span part="clear-history-label">Clear History</span>
    </button>
    <action-history part="action-history" id="action-history" reverse></action-history>
</fieldset>
<fieldset part="history-length-fieldset">
    <legend part="history-length-legend">History Length</legend>
    <form-field part="history-length-field">
        <input type="range" id="action-history-length" part="action-history-length" max="150" list="action-history-length-values" />
        <datalist id="action-history-length-values"  part="action-history-length-values"></datalist>
        <span slot="postfix" part="action-history-length-value" id="action-history-length-value"></span>
        <button slot="postfix" part="apply-history-length-button" id="apply-history-length-button">
            <svg part="apply-history-length-icon">
                <use href="#icon-definition_confirm-check"></use>
            </svg>
            <span part="apply-history-length-label">Apply</span>
        </button>
    </form-field>
</fieldset>