
<header id="header">History</header>
<fieldset id="navigation">
    <legend id="navigation-legend">Navigation</legend>
    <button id="undo" class="button">
        <svg id="restore-item-icon" class="icon" title="Undo">
            <use href="#icon-definition_undo-redo"></use>
        </svg>
        <span part="undo-label">Undo</span>
    </button>
    <button id="redo" class="button">
        <svg id="restore-item-icon" class="icon" title="Redo" style="transform: scaleX(-1);">
            <use href="#icon-definition_undo-redo"></use>
        </svg>
        <span id="redo-label">Redo</span>
    </button>
    <button id="clear-history-button" class="button">
        <svg id="clear-history-icon" class="icon" title="Clear">
            <use href="#icon-definition_trash"></use>
        </svg>
        <span id="clear-history-label">Clear History</span>
    </button>
    <action-history id="action-history" reverse>
        <slot name="action-history"></slot>
    </action-history>
</fieldset>
<fieldset id="history-length-fieldset">
    <legend id="history-length-legend">History Length</legend>
    <form-field id="history-length-field">
        <input type="range" id="action-history-length" max="150" list="action-history-length-values" />
        <datalist id="action-history-length-values"></datalist>
        <span slot="postfix" id="action-history-length-value"></span>
        <button slot="postfix" id="apply-history-length-button">
            <svg id="apply-history-length-icon" class="icon">
                <use href="#icon-definition_confirm-check"></use>
            </svg>
            <span id="apply-history-length-label">Apply</span>
        </button>
    </form-field>
</fieldset>