:host
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 7px;
    overflow: hidden;
}

#history-header
{
    font-size: 14px;
    font-weight: bold;
}

#history-length-fieldset
{
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

#history-length-field .container
{
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
}

#action-history-length
{
    flex: 1;
}

#history-navigation-fieldset
{
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto 1fr;
    gap: 7px;
    overflow: hidden;
}
#clear-history-button
{
    grid-column: 4;
    white-space: nowrap;
}
#action-history
{
    grid-column: span 4;
    background: field;
    border-radius: 2px;
    border: 1px solid graytext;
    color: fieldtext;
    overflow: auto;
    flex: 1;
}
@media (max-width: 665px) 
{
    #action-history-length
    {
        width: 50px;
    }
}