:host { display: contents; }

#board-browser-header
{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 7px;
    align-items: center;
    padding-bottom: 1em;
}

#board-browser-title
{
    font-weight: bold;
}

.header-icon
{
    width: var(--dialog-header-icon-size);
    height: var(--dialog-header-icon-size);
}

collection-browser
{
    overflow: hidden;
}

collection-browser::part(navigation)
,collection-browser::part(gallery-header)
{
    border: none;
}

collection-browser::part(items)
{
    gap: .5em;
    /* flex-wrap: wrap; */
    padding: 7px 0;
    overflow: hidden auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* margin: 0 auto; */
    justify-content: center;
    justify-items: center;
    min-height: 250px;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
}

collection-browser::part(add-button)
{
    display: none !important;
}

#board-browser-actions
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 14px;
    padding-top: 1em;
}

#board-browser-actions button
{
    width: 70px;
    justify-content: center;
}

@media (max-width: 665px) 
{
    #board-browser-header
    {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
    }

    #filter
    {
        grid-column: span 2;
    }
}