:host
{
    align-self: center;
    justify-self: center;
    padding: 1em;
}

#recent-boards
{
    display: grid;
    margin: 0;
    padding: 0;
}
#recent-boards::part(items)
{
    display: grid;
    
}
#recent-boards a
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 7px;
}
#recent-boards a:hover
{
    background-color: highlight;
    color: highlighttext;
}
#recent-boards::part(placeholder)
{
    color: var(--placeholder-color);
    text-align: center;
}

.board
{
    user-select: none;
}

.edit
{
    opacity: 0;
}
.board:hover .edit
,.board[aria-current="page"] .edit
,.board .edit:focus
{
    opacity: 1;
}

#new-board-button
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#logo
{
    width: 100%;
    height: 80px;
}