html
{
    color-scheme: light dark;
    height: 100%;
    width: 100%;
}

html
,body
{
    margin: 0;
    padding: 0;
}

body
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

taskboard-manager
{
    flex: 1;
    overflow: hidden;
}

taskboard-manager .custom-settings
{
    display: grid;
    gap: var(--small-gap, 7px);
}

taskboard-manager .field .container
{
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: var(--small-gap, 7px);
    align-items: center;
}

taskboard-manager #theme-description
{
    margin-left: calc(90px + (var(--small-gap, 7px) * 2));
}

taskboard-manager .field-label
{
    text-align: right;
}


taskboard-manager[data-theme="course"] a
{
    color: var(--text-anchor);
    text-decoration: var(--text-decoration-anchor);
}
taskboard-manager[data-theme="course"] a:hover
{
    text-decoration: var(--text-decoration-anchor-highlight);
}

@media (max-width: 665px) 
{

    taskboard-manager .field-label
    {
        text-align: left;
    }
    taskboard-manager .field .container
    {
        grid-template-columns: 1fr;
    }
    taskboard-manager #theme-description
    {
        margin-left: 0;
        text-align: center;
    }
}