@import url('https://fonts.googleapis.com/css?family=Assistant:700|Karla:400');

@media (prefers-color-scheme: light) 
{
    taskboard-manager[data-theme="dossier"] 
    {
        /* --text: rgb(8, 7, 2);
        --background: rgb(253, 252, 247);
        --primary: rgb(91, 76, 73);
        --secondary: rgb(132, 201, 235);
        --accent: rgb(232, 181, 100);
        --highlight: rgba(0, 0, 0, 0.05);
        --panel: rgba(0, 0, 0, 0.03);
        --page: #F2F2F2; */    

        --brand-1: oklch(74.61% 0.171 253.56); /* primary */
        --brand-2: oklch(52.49% 0.113 253.98); /* dark */
        --brand-3: oklch(88.37% 0.07258208750520016 253.803287); /* light */
    }

    /* taskboard-manager[data-theme="dossier"]::part(header)
    {
        background: var(--accent);

        --icon-primary-color: var(--primary);
    }

    taskboard-manager[data-theme="dossier"]::part(board-menu-item)
    {
        --selected-shadow: 0 0 15px -8px rgb(0 0 0 / .4);
    } */
}
@media (prefers-color-scheme: dark) {
    taskboard-manager[data-theme="dossier"] 
    {
        /* --shade-0: #1F1F22;
        --shade-1: #23262d;
        --shade-2: #2e313b;
        --shade-3: #3a3c44;
        --shade-4: #424963;

        --text: #abb2ce;
        --text-highlight: #fbf9fe;

        --background: var(--shade-1);
        
        --primary: rgb(79, 71, 68);
        --secondary: rgb(20, 89, 123);
        --secondary20: #14597b44;
        --accent: rgb(243, 193, 117);

        --highlight: rgba(255, 255, 255, 0.15);
        /* --panel: rgba(255, 255, 255, 0.03); */
        /* --page: #222222; */

        /* --selected-shadow: 1px 1px 3px -1px rgb(0 0 0 / .4); */


        --background-1: #161616;
        --background-2: #191919;
        --background-3: #1C1C1C;
        --background-4: #222;
        --background-5: #292929;

        --font-1: #666;
        --font-2: #999;
        --font-3: #DDD;
        --font-disabled: #555;
        --font-highlight: highlight;
        --font-hover: highlight;
        --font-accent: #000;

        --brand-1: oklch(74.61% 0.171 253.56); /* primary */
        --brand-2: oklch(52.49% 0.113 253.98); /* dark */
        --brand-3: oklch(88.37% 0.07258208750520016 253.803287); /* light */

        /* --accent-1: var(--brand-1);
        --accent-2: var(--brand-2);
        --accent-3: var(--brand-3); */

        background-color: var(--background-3);
        color: var(--font-1);
    }

    taskboard-manager[data-theme="dossier"]::part(header)
    {
        /* background: var(--secondary); */
        background: var(--primary);

        --icon-primary-color: var(--accent-3);
        box-shadow: var(--selected-shadow);
    }

    taskboard-manager[data-theme="dossier"]::part(board)
    {
        color: var(--text);
        /* --selected-shadow: 1px 1px 3px -1px rgb(0 0 0 / .4); */
    }

    taskboard-manager[data-theme="dossier"]::part(task-board)
    {
        background-color: var(--shade-0);
    }
}

taskboard-manager[data-theme="dossier"]
{
    /* --shade-0: #0b0b0e;
    --shade-10: #16161d;
    --shade-20: #2c2c3a;
    --shade-30: #434356;
    --shade-40: #595973;
    --shade-50: #6f6f90;
    --shade-60: #8c8ca6;
    --shade-70: #a9a9bc;
    --shade-80: #c5c5d3;
    --shade-90: #e2e2e9;
    --shade-95: #f1f1f4;
    --shade-100: #ffffff; */

    --header-font-family: 'Assistant';
    --header-font-weight: 700;
    --header-font-size-1: 1.802rem;
    --header-font-size-2: 1.602rem;
    --header-font-size-3: 1.424rem;
    --header-font-size-4: 1.266rem;
    --header-font-size-5: 1.125rem;

    --small-font-size: 0.889rem;

    
    border: none;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Karla';
    font-weight: 400;
    font-size: 14px;


}
/* debug */
taskboard-manager[data-theme="dossier"]
{
    margin: 3em;
}

/* buttons */
/* all */
taskboard-manager[data-theme="dossier"]::part(button)
{
    background: transparent;
    border: solid 1px var(--font-1);
    color: var(--font-2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 2px;
    padding: 5px 10px;
    transition: background 200ms ease-out, color 200ms ease-out, border-color 200ms linear;
}
taskboard-manager[data-theme="dossier"]::part(button):hover
{
    border-color: var(--accent-3);
    background: var(--accent-3);
    color: var(--font-accent);
}
taskboard-manager[data-theme="dossier"]::part(preferred-button)
{
    background: var(--secondary);
}
taskboard-manager[data-theme="dossier"]::part(preferred-button):hover
{
    background: var(--secondary20);
}
/* icon label buttons */
taskboard-manager[data-theme="dossier"]::part(round-button)
{
    display: flex;
}
taskboard-manager[data-theme="dossier"]::part(round-button)
,taskboard-manager[data-theme="dossier"]::part(board-edit-button)
{
    --size: 24px;
    border-radius: 50%;
    padding: 5px;
    width: var(--size);
    height: var(--size);
    align-items: center;
    justify-content: center;
}

taskboard-manager[data-theme="dossier"]::part(board-edit-button)
{
    background: transparent;
    border: solid 1px var(--highlight);
}
taskboard-manager[data-theme="dossier"]::part(board-edit-button):hover
{
    background: var(--highlight);
}

taskboard-manager[data-theme="dossier"]::part(menu)
{
    background: var(--background-2);
    border: none;
    color: var(--font-2);
}

taskboard-manager[data-theme="dossier"]::part(menu-header)
{
    /* border-radius: 2px; */
    border-top-left-radius: 7px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 7px;
    margin: 7px;
    padding: 0;
    align-items: center;
}

taskboard-manager[data-theme="dossier"]::part(dialog-header)
{
    margin: 0;
    border-radius: 0;
    padding: 5px 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

taskboard-manager[data-theme="dossier"]::part(dialog)
{
    padding: 0;
    border: solid 1px;
    border-radius: 3px;
    border: none;
    background-color: var(--background-3);
    box-shadow: 0 0 7px 1px rgb(0 0 0 / .7);
}

taskboard-manager[data-theme="dossier"]::part(actions)
{
    padding: 10px;
}

taskboard-manager[data-theme="dossier"]::part(input)
,taskboard-manager[data-theme="dossier"]::part(cache-list)
,taskboard-manager[data-theme="dossier"]::part(action-history)
{
    background-color: var(--shade-0);
    border: solid 1px rgb(0 0 0 / .8);
    border-radius: 3px;
}


taskboard-manager[data-theme="dossier"]::part(app-menu-header)
{
    align-items: center;
}
taskboard-manager[data-theme="dossier"]::part(find-board-button)
{
    padding: 5px 10px;
}
taskboard-manager[data-theme="dossier"]::part(open-settings-button)
{
    padding: 8px 10px;
}


taskboard-manager[data-theme="dossier"]::part(browser-filter-input)
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
taskboard-manager[data-theme="dossier"]::part(browser-filter-field-button)
{
    background-color: rgb(0 0 0 / .15);
    border: solid 1px rgb(0 0 0 / .3);
    border-radius: 0;
}
taskboard-manager[data-theme="dossier"]::part(browser-filter-search-button)
{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
}


taskboard-manager[data-theme="dossier"]::part(board-browser-add-button)
{
    align-self: center;
    border-radius: 5px;
}

taskboard-manager[data-theme="dossier"]::part(board-collection-browser)
{
    margin: 0;
    border: none;
}

taskboard-manager[data-theme="dossier"]::part(board-gallery-item)
{
    border-radius: 5px;
}

taskboard-manager[data-theme="dossier"]::part(board-gallery-item):hover
,taskboard-manager[data-theme="dossier"]::part(selected-board-gallery-item)
{
    background-color: var(--secondary);
    border: solid 1px rgb(0 0 0 / .7);
}

taskboard-manager[data-theme="dossier"]::part(config-navigation)
{
    border: none;
    border: solid 2px var(--primary);
    background: transparent;
    margin: 14px;
}

taskboard-manager[data-theme="dossier"]::part(nav-item)
{
    border-right: solid 2px var(--font-1);
}

taskboard-manager[data-theme="dossier"]::part(nav-item):hover
,taskboard-manager[data-theme="dossier"]::part(nav-item selected)
{
    background-color: var(--accent-3);
}

taskboard-manager[data-theme="dossier"]::part(page-header)
{
    margin: 14px 0;
    padding: 7px;
    text-transform: uppercase;
    border-radius: 2px;
    margin: 7px;
}

taskboard-manager[data-theme="dossier"]::part(config-page)
{
    border-top: dashed 2px var(--primary);
    padding: 7px;
}

taskboard-manager[data-theme="dossier"]::part(fieldset)
{
    margin: 0 14px;
    border: solid 1px var(--primary);
}

taskboard-manager[data-theme="dossier"]::part(legend)
{
    padding: 3px 5px;
    background-color: var(--primary);
    border-radius: 2px;
    text-transform: uppercase;
}

taskboard-manager[data-theme="dossier"]::part(settings-panel)
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

taskboard-manager[data-theme="dossier"]::part(settings-header)
{
    grid-column: span 2;
}

taskboard-manager[data-theme="dossier"]::part(button-group)
{
    display: flex;
    align-items: center;
}

taskboard-manager[data-theme="dossier"]::part(button scheme)
{
    background: none;
    border: solid 2px var(--primary);
    border-radius: 0;
    border-left: none;
    flex: 1;
}
taskboard-manager[data-theme="dossier"]::part(scheme first)
{
    border-left: solid 2px var(--primary);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
taskboard-manager[data-theme="dossier"]::part(scheme last)
{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
taskboard-manager[data-theme="dossier"]::part(scheme selected)
{
    background-color: var(--primary);
}

taskboard-manager[data-theme="dossier"]::part(color-scheme-fieldset)
{
    margin-right: 0;
    display: grid;
    align-items: center;
    /* justify-content: center; */
}

taskboard-manager[data-theme="dossier"]::part(custom-settings-fieldset)
{
    margin-left: 0;
}

taskboard-manager[data-theme="dossier"]::part(shortcuts-fieldset)
{
    padding: 14px;
    grid-column: span 2;
}

taskboard-manager[data-theme="dossier"]::part(shortcuts)
{
    display: grid;
    border: solid 1px var(--primary);
    border-top: none;
}
taskboard-manager[data-theme="dossier"]::part(shortcut)
{
    display: grid;
    grid-template-columns: 225px 1fr;
}

taskboard-manager[data-theme="dossier"]::part(shortcut-title)
{
    background-color: var(--primary);
    border-top: solid 1px rgb(63 51 47);
    padding: 7px;
    justify-content: flex-end;
    align-content: center;
    text-align: right;
    white-space: nowrap;
}

taskboard-manager[data-theme="dossier"]::part(shortcut-description)
{
    border-top: solid 1px var(--primary);
    border-left: solid 1px var(--primary);
    align-content: center;
    padding: 7px 14px;
}


taskboard-manager[data-theme="dossier"]::part(data-panel)
{
    grid-template-rows: auto 1fr auto;
}

taskboard-manager[data-theme="dossier"]::part(import-fieldset)
{
    margin-right: 0;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto max-content;
}

taskboard-manager[data-theme="dossier"]::part(import-field)
{
    margin-right: 0;
    grid-column: 1;
    display: grid;
    grid-template-rows: auto auto;
    grid-column: span 2;
}

taskboard-manager[data-theme="dossier"]::part(import-field-container)
{
    display: grid;
}

taskboard-manager[data-theme="dossier"]::part(import-button)
{
    grid-row: 2;
    grid-column: 2;
}

taskboard-manager[data-theme="dossier"]::part(data-cleanup-fieldset)
{
    margin-right: 0;
    grid-column: 1;
}
taskboard-manager[data-theme="dossier"]::part(data-pending-fieldset)
{
    grid-column: 2;
    grid-row: 2 / 4;
}
taskboard-manager[data-theme="dossier"]::part(image-cache-fieldset)
{
    margin-left: 0;
    grid-column: 3;
    grid-row: 2 / 4;
}

taskboard-manager[data-theme="dossier"]::part(action-history)
{
    padding: 14px;
    gap: 14px;
}

taskboard-manager[data-theme="dossier"]::part(action-history-entry)
{
    padding: 0;
    display: grid;
    text-decoration: none;
    border: solid 1px transparent;
    --hover-color: var(--primary);
}
taskboard-manager[data-theme="dossier"]::part(action-history-entry):hover
{
    background: none;
    --hover-color: var(--secondary);
}

taskboard-manager[data-theme="dossier"]::part(action-history-entry-type)
{
    background: var(--hover-color);
    padding: 3px 7px;
    justify-self: flex-start;

}

taskboard-manager[data-theme="dossier"]::part(action-history-entry-data)
{
    display: grid;
    grid-template-columns: 100px 1fr;
    border: solid 1px var(--hover-color);
    padding: 3px 7px;

}
taskboard-manager[data-theme="dossier"]::part(action-history-entry-data):hover
{
}
taskboard-manager[data-theme="dossier"]::part(action-history-entry-type active)
,taskboard-manager[data-theme="dossier"]::part(action-history-entry-data active)
{
    border-color: var(--secondary);
    background-color: var(--secondary);
}

taskboard-manager[data-theme="dossier"]::part(import-board-data-fieldset)
{
    margin: 14px;
}

taskboard-manager[data-theme="dossier"]::part(branding)
{
    background: rgb(0 0 0 / .15);
    /* background: var(--primary); */
    padding: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 3px;
}
taskboard-manager[data-theme="dossier"]::part(open-board-browser)
{
    
}
taskboard-manager[data-theme="dossier"]::part(open-settings)
{
    margin-right: 7px;
}

taskboard-manager[data-theme="dossier"]::part(board-items)
{
    gap: 3px;
    margin: 0 7px;
}

taskboard-manager[data-theme="dossier"]::part(board)
{
    --grip-color: var(--font-1);
    border: solid 1px transparent;
    /* opacity: .6; */
    /* margin-inline: 10px;
    padding-block: 5px; */
    /* border-radius: 30px; */
    border-radius: 2px;
    padding: 5px;
    font-size: 13px;
    font-weight: 700;
    gap: 5px;
    /* --skew: 5deg;
    transform: skewX(calc(var(--skew) * -1)); */
}
taskboard-manager[data-theme="dossier"]::part(board):hover
{
    opacity: 1;
    background: none;
    border-color: var(--font-1);
}
taskboard-manager[data-theme="dossier"]::part(board selected)
{
    --grip-color: var(--font-accent);
    color: var(--font-accent);
    opacity: 1;
    box-shadow: var(--selected-shadow);
    background-color: var(--accent-3) !important; /* prevent hover from overriding */
}

taskboard-manager[data-theme="dossier"]::part(menu-item-handle):hover
{
    --grip-color: var(--font-3);
}

taskboard-manager[data-theme="dossier"]::part(menu-item-handle)
,taskboard-manager[data-theme="dossier"]::part(board-item-name)
,taskboard-manager[data-theme="dossier"]::part(edit)
{
    /* transform: skewX(var(--skew)); */
}

taskboard-manager[data-theme="dossier"]::part(tasklist-settings)
{
    /* background-color: var(--background-2);
    color: var(--font-1); */
}


taskboard-manager[data-theme="dossier"]::part(app-router)
{
    background-color: var(--shade-2);
}

taskboard-manager[data-theme="dossier"]::part(list-header)
{
    margin: 7px;
    padding: 0;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto;
}

taskboard-manager[data-theme="dossier"]::part(list-color-container)
{
    grid-row: 2;
    grid-column: span 2;
    display: flex;
}

taskboard-manager[data-theme="dossier"]::part(list-color)
{
    flex: 1;
    height: 3px;
    border-radius: 2px;
}

taskboard-manager[data-theme="dossier"]::part(list-name)
{
    background: transparent;
    border: none;
    color: var(--text-highlight);
    font-size: 12px;
    font-weight: bold;
    padding: 5px 7px;
    text-transform: uppercase;
}

taskboard-manager[data-theme="dossier"]::part(list-collapse)
{
    border: none;
    color: var(--text);
    font-size: 12px;
    font-weight: bold;
    padding: 5px 7px;
    text-transform: uppercase;
}
taskboard-manager[data-theme="dossier"]::part(list-collapse):hover
{
    background: transparent;
    color: var(--text-highlight);
}

taskboard-manager[data-theme="dossier"]::part(task-card)
{
    background-color: var(--task-background-color, var(--background-4));
    border: solid 1px transparent;
}


taskboard-manager[data-theme="dossier"]::part(task-checkbox)
{
    display: none;
}

taskboard-manager[data-theme="dossier"]::part(task-finished-indicator)
{
    --size: 20px;
    width: var(--size);
    height: var(--size);
    background-color: rgb(0 0 0 / .3);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
taskboard-manager[data-theme="dossier"]::part(task-finished-indicator finished)::before
{
    margin-top: 3px;
    /* green: 749d23*/
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="%23fbf9fe" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
}

taskboard-manager[data-theme="dossier"]::part(task-remove-button)
{
    border: none;
    color: var(--text);
    padding: 7px;
}
taskboard-manager[data-theme="dossier"]::part(task-remove-button):hover
{
    background: rgb(0 0 0 / .2);
}

taskboard-manager[data-theme="dossier"]::part(task-description)
{
    background-color: transparent;
    border: none;
}


@media (min-width: 665px) 
{
    taskboard-manager[data-theme="dossier"]::part(app-router)
    {
        box-shadow: -1px 0 15px -5px rgb(0 0 0 / .25);
    }
}

@media (max-width: 665px)
{
    
}