@import url('https://fonts.googleapis.com/css?family=Assistant:700|Karla:400');

@media (prefers-color-scheme: light) 
{
    taskboard-manager[data-theme="dossier"] 
    {
        --text: rgb(8, 7, 2);
        --background: rgb(253, 252, 247);
        --primary: rgb(91, 76, 73);
        --secondary: rgb(132, 201, 235);
        --accent: rgb(232, 181, 100);
        --highlight: rgba(0, 0, 0, 0.05);
        --panel: rgba(0, 0, 0, 0.03);
        --page: #F2F2F2;
    }

    taskboard-manager[data-theme="dossier"]::part(header)
    {
        background: var(--accent);

        --icon-primary-color: var(--primary);
    }

    taskboard-manager[data-theme="dossier"]::part(board-menu-item)
    {
        --selected-shadow: 0 0 15px -8px rgb(0 0 0 / .4);
    }
}
@media (prefers-color-scheme: dark) {
    taskboard-manager[data-theme="dossier"] 
    {
        --shade-0: #1F1F22;
        --shade-1: #23262d;
        --shade-2: #2e313b;
        --shade-3: #3a3c44;
        --shade-4: #424963;

        --text: #abb2ce;
        --text-highlight: #fbf9fe;

        --background: var(--shade-1);
        
        --primary: rgb(79, 71, 68);
        --secondary: rgb(20, 89, 123);
        --secondary20: #14597b44;
        --accent: rgb(243, 193, 117);

        --highlight: rgba(255, 255, 255, 0.15);
        /* --panel: rgba(255, 255, 255, 0.03); */
        /* --page: #222222; */

        --selected-shadow: 1px 1px 3px -1px rgb(0 0 0 / .4);
    }

    taskboard-manager[data-theme="dossier"]::part(header)
    {
        /* background: var(--secondary); */
        background: var(--primary);

        --icon-primary-color: var(--accent);
        box-shadow: var(--selected-shadow);
    }

    taskboard-manager[data-theme="dossier"]::part(board)
    {
        color: var(--text);
        /* --selected-shadow: 1px 1px 3px -1px rgb(0 0 0 / .4); */
    }

    taskboard-manager[data-theme="dossier"]::part(task-board)
    {
        background-color: var(--shade-0);
    }
}

taskboard-manager[data-theme="dossier"]
{
    /* --shade-0: #0b0b0e;
    --shade-10: #16161d;
    --shade-20: #2c2c3a;
    --shade-30: #434356;
    --shade-40: #595973;
    --shade-50: #6f6f90;
    --shade-60: #8c8ca6;
    --shade-70: #a9a9bc;
    --shade-80: #c5c5d3;
    --shade-90: #e2e2e9;
    --shade-95: #f1f1f4;
    --shade-100: #ffffff; */

    --header-font-family: 'Assistant';
    --header-font-weight: 700;
    --header-font-size-1: 1.802rem;
    --header-font-size-2: 1.602rem;
    --header-font-size-3: 1.424rem;
    --header-font-size-4: 1.266rem;
    --header-font-size-5: 1.125rem;

    --small-font-size: 0.889rem;

    
    border: none;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Karla';
    font-weight: 400;
    font-size: 14px;


}
/* debug */
taskboard-manager[data-theme="dossier"]
{
    margin: 3em;
}

/* buttons */
/* all */
taskboard-manager[data-theme="dossier"]::part(button)
{
    background: transparent;
    border: solid 1px var(--highlight);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 5px 10px;
}
taskboard-manager[data-theme="dossier"]::part(button):hover
{
    background: var(--highlight);
}
taskboard-manager[data-theme="dossier"]::part(preferred-button)
{
    background: var(--secondary);
}
taskboard-manager[data-theme="dossier"]::part(preferred-button):hover
{
    background: var(--secondary20);
}
/* icon label buttons */
taskboard-manager[data-theme="dossier"]::part(round-button)
,taskboard-manager[data-theme="dossier"]::part(board-edit-button)
{
    --size: 24px;
    border-radius: 50%;
    padding: 5px;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
}

taskboard-manager[data-theme="dossier"]::part(menu)
{
    background: none;
    border: none;
}

taskboard-manager[data-theme="dossier"]::part(menu-header)
{
    /* border-radius: 2px; */
    border-top-left-radius: 7px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 7px;
    margin: 7px;
    padding: 0;
    align-items: center;
}

taskboard-manager[data-theme="dossier"]::part(dialog-header)
{
    margin: 0;
    border-radius: 0;
    padding: 5px 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

taskboard-manager[data-theme="dossier"]::part(board-browser-dialog)
{
    padding: 0;
    margin: 0 20px;
    border: solid 1px;
    border-radius: 3px;
    border: none;
    background-color: var(--background);
    box-shadow: 0 0 7px 1px rgb(0 0 0 / .7);
}

taskboard-manager[data-theme="dossier"]::part(board-browser-add-button)
{
    align-self: center;
    border-radius: 5px;
}

taskboard-manager[data-theme="dossier"]::part(board-collection-browser)
{
    margin: 0;
    border: none;
}

taskboard-manager[data-theme="dossier"]::part(board-gallery-item)
{
    border-radius: 5px;
}

taskboard-manager[data-theme="dossier"]::part(board-gallery-item):hover
,taskboard-manager[data-theme="dossier"]::part(selected-board-gallery-item)
{
    background-color: var(--secondary);
    border: solid 1px rgb(0 0 0 / .7);
}

taskboard-manager[data-theme="dossier"]::part(board-browser-actions)
{
    padding: 10px;
}

taskboard-manager[data-theme="dossier"]::part(branding)
{
    background: rgb(0 0 0 / .15);
    /* background: var(--primary); */
    padding: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 3px;
}
taskboard-manager[data-theme="dossier"]::part(open-board-browser)
{
    
}
taskboard-manager[data-theme="dossier"]::part(open-settings)
{
    margin-right: 7px;
}

taskboard-manager[data-theme="dossier"]::part(board-items)
{
    gap: 3px;
    margin: 0 7px;
}

taskboard-manager[data-theme="dossier"]::part(board)
{
    --grip-color: var(--text);
    border: solid 1px transparent;
    /* opacity: .6; */
    /* margin-inline: 10px;
    padding-block: 5px; */
    /* border-radius: 30px; */
    border-radius: 3px;
    padding: 5px;
    font-size: 13px;
    font-weight: 700;
    gap: 5px;
    /* --skew: 5deg;
    transform: skewX(calc(var(--skew) * -1)); */
}
taskboard-manager[data-theme="dossier"]::part(board):hover
{
    opacity: 1;
    background: none;
    color: var(--highlight-text);
    border-color: var(--secondary)
}
taskboard-manager[data-theme="dossier"]::part(board selected)
{
    --grip-color: var(--accent);
    color: var(--highlight-text);
    opacity: 1;
    box-shadow: var(--selected-shadow);
    background-color: var(--secondary) !important; /* prevent hover from overriding */
}

taskboard-manager[data-theme="dossier"]::part(menu-item-handle):hover
{
    --grip-color: var(--accent);
}

taskboard-manager[data-theme="dossier"]::part(menu-item-handle)
,taskboard-manager[data-theme="dossier"]::part(board-item-name)
,taskboard-manager[data-theme="dossier"]::part(edit)
{
    /* transform: skewX(var(--skew)); */
}


taskboard-manager[data-theme="dossier"]::part(app-router)
{
    background-color: var(--shade-2);
}


taskboard-manager[data-theme="dossier"]::part(task-card)
{
    background-color: var(--task-background-color, var(--shade-3));
    border: solid 1px transparent;
}

taskboard-manager[data-theme="dossier"]::part(task-description)
{
    background-color: transparent;
    border: none;
}


@media (min-width: 665px) 
{
    taskboard-manager[data-theme="dossier"]::part(app-router)
    {
        box-shadow: -1px 0 15px -5px rgb(0 0 0 / .25);
    }
}

@media (max-width: 665px)
{
    
}