@import url('https://fonts.googleapis.com/css?family=Assistant:700|Karla:400');

@media (prefers-color-scheme: light) 
{
    taskboard-manager[data-theme="dossier"] 
    {
        --text: rgb(8, 7, 2);
        --background: rgb(253, 252, 247);
        --primary: rgb(91, 76, 73);
        --secondary: rgb(132, 201, 235);
        --accent: rgb(232, 181, 100);
        --highlight: rgba(0, 0, 0, 0.05);
        --panel: rgba(0, 0, 0, 0.03);
        --page: #F2F2F2;
    }

    taskboard-manager[data-theme="dossier"]::part(header)
    {
        background: var(--accent);

        --icon-primary-color: var(--primary);
    }

    taskboard-manager[data-theme="dossier"]::part(board-menu-item)
    {
        --selected-shadow: 0 0 15px -8px rgb(0 0 0 / .4);
    }
}
@media (prefers-color-scheme: dark) {
    taskboard-manager[data-theme="dossier"] 
    {
        --text: rgb(253, 252, 247);
        --background: rgb(8, 7, 2);
        --primary: rgb(79, 71, 68);
        --secondary: rgb(20, 89, 123);
        --secondary20: #14597b44;
        --accent: rgb(243, 193, 117);
        --highlight: rgba(255, 255, 255, 0.15);
        --panel: rgba(255, 255, 255, 0.03);
        --page: #222222;
    }

    taskboard-manager[data-theme="dossier"]::part(header)
    {
        /* background: var(--secondary); */
        background: var(--primary);

        --icon-primary-color: var(--accent);
    }

    taskboard-manager[data-theme="dossier"]::part(board-menu-item)
    {
        --selected-shadow: 0 0 30px -2px rgb(255 255 255 / .3);
    }
}

taskboard-manager[data-theme="dossier"]
{
    /* --shade-0: #0b0b0e;
    --shade-10: #16161d;
    --shade-20: #2c2c3a;
    --shade-30: #434356;
    --shade-40: #595973;
    --shade-50: #6f6f90;
    --shade-60: #8c8ca6;
    --shade-70: #a9a9bc;
    --shade-80: #c5c5d3;
    --shade-90: #e2e2e9;
    --shade-95: #f1f1f4;
    --shade-100: #ffffff; */

    --header-font-family: 'Assistant';
    --header-font-weight: 700;
    --header-font-size-1: 1.802rem;
    --header-font-size-2: 1.602rem;
    --header-font-size-3: 1.424rem;
    --header-font-size-4: 1.266rem;
    --header-font-size-5: 1.125rem;

    --small-font-size: 0.889rem;

    
    border: none;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Karla';
    font-weight: 400;
    font-size: 14px;


}
/* debug */
taskboard-manager[data-theme="dossier"]
{
    margin: 3em;
}

/* buttons */
/* all */
taskboard-manager[data-theme="dossier"]::part(open-board-browser)
,taskboard-manager[data-theme="dossier"]::part(open-settings)
,taskboard-manager[data-theme="dossier"]::part(new-board-button_list)
,taskboard-manager[data-theme="dossier"]::part(edit)
{
    background: transparent;
    border: solid 1px var(--highlight);
}
taskboard-manager[data-theme="dossier"]::part(open-board-browser):hover
,taskboard-manager[data-theme="dossier"]::part(open-settings):hover
,taskboard-manager[data-theme="dossier"]::part(new-board-button_list):hover
,taskboard-manager[data-theme="dossier"]::part(edit):hover
{
    background: var(--highlight);
}
/* text label buttons */
taskboard-manager[data-theme="dossier"]::part(open-board-browser)
,taskboard-manager[data-theme="dossier"]::part(new-board-button_list)
{
    border-radius: 30px;
    padding: 5px 10px;
}
/* icon label buttons */
taskboard-manager[data-theme="dossier"]::part(open-settings)
,taskboard-manager[data-theme="dossier"]::part(edit)
{
    --size: 24px;
    border-radius: 50%;
    padding: 5px;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
}

taskboard-manager[data-theme="dossier"]::part(menu)
{
    background: none;
    border: none;
}

taskboard-manager[data-theme="dossier"]::part(header)
{
    /* border-radius: 2px; */
    border-top-left-radius: 7px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 7px;
    margin: 7px;
    padding: 0;
    align-items: center;
}

taskboard-manager[data-theme="dossier"]::part(branding)
{
    background: rgb(0 0 0 / .15);
    /* background: var(--primary); */
    padding: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 3px;
}
taskboard-manager[data-theme="dossier"]::part(open-board-browser)
{
    
}
taskboard-manager[data-theme="dossier"]::part(open-settings)
{
    margin-right: 7px;
}

taskboard-manager[data-theme="dossier"]::part(board-items)
{
    gap: 3px;
}

taskboard-manager[data-theme="dossier"]::part(board-menu-item)
{
    --grip-color: var(--text);
    border: none;
    opacity: .6;
    margin-inline: 10px;
    padding-block: 5px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 700;
    gap: 5px;
}
taskboard-manager[data-theme="dossier"]::part(board-menu-item):hover
{
    opacity: 1;
    background: none;
    color: var(--text);
}
taskboard-manager[data-theme="dossier"]::part(board-menu-item selected)
{
    background: var(--secondary20)  !important;
    color: var(--text);
    opacity: 1;
    box-shadow: var(--selected-shadow);
}
taskboard-manager[data-theme="dossier"]::part(task-board)
{
    background-color: var(--panel);
}


taskboard-manager[data-theme="dossier"]::part(task-card)
{
    background-color: var(--task-background-color, var(--page));
    border: solid 1px transparent;
}

taskboard-manager[data-theme="dossier"]::part(task-description)
{
    background-color: transparent;
    border: none;
}