@import url('https://fonts.googleapis.com/css?family=Assistant:700|Karla:400');

@media (prefers-color-scheme: light) 
{
    taskboard-manager[data-theme="keen"] 
    {
        --accent-1: oklch(74.61% 0.171 253.56); /* primary */
        --accent-2: oklch(52.49% 0.113 253.98); /* dark */
        --accent-3: oklch(88.37% 0.07258208750520016 253.803287); /* light */
    }
}
@media (prefers-color-scheme: dark) {
    taskboard-manager[data-theme="keen"] 
    {

        --accent-1: oklch(74.61% 0.171 253.56); /* primary */
        --accent-2: oklch(52.49% 0.113 253.98); /* dark */
        --accent-3: oklch(88.37% 0.07258208750520016 253.803287); /* light */
        --font-accent: #EEE;

        --background-1: #161616;
        --background-2: #1F1F1F;
        --background-3: #252525;
        --background-4: #2E2E2E;
        --background-5: #3D3D3D;
        --background-6: #464646;

        --font-disabled: #555;
        --font-1: #666;
        --font-2: #999;
        --font-3: #CFCFCF;
        --font-highlight: var(--accent-1);
        --font-hover: #DDD;
        --font-active: #E2E2E2;

        --input-background: var(--background-1);

        --background: var(--background-1);
        color: var(--font-1);
    }
}

taskboard-manager[data-theme="keen"]
{

    --brand-1: var(--accent-1);; /* primary */
    --brand-2: var(--accent-2);; /* dark */
    --brand-3: var(--accent-3);; /* light */

    --header-font-family: 'Assistant';
    --header-font-weight: 700;
    --header-font-size-1: 1.802rem;
    --header-font-size-2: 1.602rem;
    --header-font-size-3: 1.424rem;
    --header-font-size-4: 1.266rem;
    --header-font-size-5: 1.125rem;

    --small-font-size: 0.889rem;

    --icon-primary-color: var(--font-1);
    --icon-secondary-color: rgb(0 0 0 / .4);

    --button-hover-background: var(--background-4);
    --button-hover-color: var(--font-2);

    
    border: none;
    background-color: var(--background);
    color: var(--font-1);
    font-family: 'Karla';
    font-weight: 400;
    font-size: 14px;


}
/* debug */
taskboard-manager[data-theme="keen"]
{
    margin: 3em;
}

taskboard-manager[data-theme="keen"]::part(app-menu)
{
    background: var(--background-2);
    border: none;
    color: inherit;
}

taskboard-manager[data-theme="keen"]::part(app-menu-header)
{
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / .4);
    /* border-bottom: solid 1px var(--background-5); */
    gap: 0;
    padding: 10px 7px;
}

taskboard-manager[data-theme="keen"]::part(find-board-button)
{
    background-color: var(--input-background);
    border: solid 1px var(--background-4);
    color: var(--font-1);
    border-radius: 3px;
    display: grid;
    align-items: center;
    text-align: left;
    grid-template-columns: auto 1fr;
    gap: 7px;
    font-style: italic;
    margin-left: 7px;
    margin-right: 3px;

    --icon-primary-color: var(--font-disabled);
    --icon-secondary-color: var(--input-background);
}
taskboard-manager[data-theme="keen"]::part(find-board-button):hover
{
    /* background: var(--background-3); */
    color: var(--font-hover);
    --icon-primary-color: var(--font-hover);
}

taskboard-manager[data-theme="keen"]::part(board-items)
{
    display: grid;
    gap: 7px;
    padding: 7px;
}


taskboard-manager[data-theme="keen"]::part(board)
{
    --grip-color: var(--font-1);

    padding: 7px;
    margin: 0;
    gap: 7px;
    align-items: center;
    border-radius: 2px;
}
taskboard-manager[data-theme="keen"]::part(board):hover
{
    --grip-color: var(--font-2);

    background-color: var(--background-3);
    color: var(--font-2);
}
taskboard-manager[data-theme="keen"]::part(board selected)
{
    --grip-color: var(--font-accent) !important;

    background-color: var(--accent-2) !important;
    color: var(--font-active) !important;
}
taskboard-manager[data-theme="keen"]::part(menu-item-handle):hover
{
    --grip-color: var(--font-active);
}

taskboard-manager[data-theme="keen"]::part(icon-button)
{
    --label-color: var(--font-2);
    --background-color: transparent;

    color: var(--label-color);
    --icon-primary-color: var(--label-color);
    background: var(--background-color);
    --icon-secondary-color: rgb(0 0 0 / .6);
    border: none;

    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 5px;
    align-self: center;

    --button-icon-size: 24px;
}
taskboard-manager[data-theme="keen"]::part(icon-button):hover
{
    /* background-color: rgb(0 0 0 / .6); */
    --label-color: var(--font-hover);
}

taskboard-manager[data-theme="keen"]::part(label-button)
{
    padding: 5px 14px;
    border-radius: 5px;
    border: solid 1px var(--background-3);
    color: var(--font-2);

    --background-color: var(--background-3);

    --icon-primary-color: var(--font-2);
    --icon-secondary-color: var(--background-color);

    background: var(--background-color) 
    linear-gradient(to top, rgb(0 0 0 / .2), rgb(0 0 0 / 0));
    /* background: var(--background-color); */
}
taskboard-manager[data-theme="keen"]::part(label-button):hover
{
    --background-color: var(--background-4);
    color: var(--font-hover);
    --icon-primary-color: var(--font-hover);
    border-color: var(--background-5);
}
taskboard-manager[data-theme="keen"]::part(label-button):active
{
    color: var(--font-2);
    background: var(--background-color) 
    linear-gradient(to bottom, rgb(0 0 0 / .2), rgb(0 0 0 / 0));
    /* --background-color: var(--background-4); */
    --icon-primary-color: var(--font-2);
}

taskboard-manager[data-theme="keen"]::part(welcome-panel)
{
    width: 550px;
}

taskboard-manager[data-theme="keen"]::part(welcome-fieldset)
{
    display: grid;
    padding: 0;
    border: none;
    background-color: var(--background-2);
    color: var(--font-2);
}
taskboard-manager[data-theme="keen"]::part(welcome-header)
{
    background-color: #D5F5D9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23D5F5D9' cx='50' cy='0' r='50'/%3E%3Cg fill='%23ccefd0' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c4e9c8' cx='50' cy='100' r='50'/%3E%3Cg fill='%23bbe3bf' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b2ddb7' cx='50' cy='200' r='50'/%3E%3Cg fill='%23aad7ae' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a2d1a6' cx='50' cy='300' r='50'/%3E%3Cg fill='%2399cb9e' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2391c595' cx='50' cy='400' r='50'/%3E%3Cg fill='%2388bf8d' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2380b985' cx='50' cy='500' r='50'/%3E%3Cg fill='%2378b37d' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2370ad74' cx='50' cy='600' r='50'/%3E%3Cg fill='%2367a86c' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%235fa264' cx='50' cy='700' r='50'/%3E%3Cg fill='%23579c5c' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%234e9654' cx='50' cy='800' r='50'/%3E%3Cg fill='%2345904c' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%233d8b44' cx='50' cy='900' r='50'/%3E%3Cg fill='%2333853c' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23297F34' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

taskboard-manager[data-theme="keen"]::part(welcome-legend)
{
    display: none;
}

taskboard-manager[data-theme="keen"]::part(welcome-logo)
{
    padding: 14px;
}

taskboard-manager[data-theme="keen"]::part(welcome-description)
{
    padding: 7px 14px;
    margin: 0;
    color: var(--font-active);
    text-align: center;
}

taskboard-manager[data-theme="keen"]::part(recent-fieldset)
{
    margin: 0;
    padding: 7px;
    border: none;
}

taskboard-manager[data-theme="keen"]::part(recent-legend)
{
    display: none;
}

taskboard-manager[data-theme="keen"]::part(recent-board-remove-button)
{
    --button-icon-size: 12px;
}

taskboard-manager[data-theme="keen"]::part(task-board)
{
    
}

taskboard-manager[data-theme="keen"]::part(list-header)
{
    margin: 7px;
    padding: 0;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto;
}

taskboard-manager[data-theme="keen"]::part(list-color-container)
{
    grid-row: 2;
    grid-column: span 2;
    display: flex;
}

taskboard-manager[data-theme="keen"]::part(list-color)
{
    flex: 1;
    height: 3px;
    border-radius: 2px;
}

taskboard-manager[data-theme="keen"]::part(list-name)
{
    background: transparent;
    border: none;
    color: var(--font-active);
    font-size: 12px;
    font-weight: bold;
    padding: 5px 7px;
    text-transform: uppercase;
}

taskboard-manager[data-theme="keen"]::part(list-collapse)
{
    border: none;
    color: var(--text);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
}
taskboard-manager[data-theme="keen"]::part(list-collapse):hover
{
    color: var(--font-active);
}

taskboard-manager[data-theme="keen"]::part(task-card)
{
    background-color: var(--task-background-color, var(--background-3));
    border: solid 1px transparent;
    --task-focus-outline: solid medium var(--font-active);
    box-shadow: 0 0 7px 2px rgb(0 0 0 / .3);
}

taskboard-manager[data-theme="keen"]::part(task-checkbox)
{
    display: none;
}

taskboard-manager[data-theme="keen"]::part(task-finished-indicator)
{
    --size: 20px;
    width: var(--size);
    height: var(--size);
    background-color: rgb(0 0 0 / .3);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
taskboard-manager[data-theme="keen"]::part(task-finished-indicator finished)::before
{
    margin-top: 3px;
    /* green: 749d23*/
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="%23fbf9fe" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
}

taskboard-manager[data-theme="keen"]::part(task-remove-button)
{
    border: none;
    background: transparent;
    color: var(--font-2);
    height: auto;
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
taskboard-manager[data-theme="keen"]::part(task-remove-button):hover
{
    --icon-primary-color: var(--font-active);
    /* background: rgb(0 0 0 / .2); */
}

taskboard-manager[data-theme="keen"]::part(task-description)
{
    background-color: transparent;
    border: none;
    margin-top: 7px;
    margin-bottom: 7px;
    outline: none;
}

@media (min-width: 665px) 
{

}

@media (max-width: 665px)
{

    taskboard-manager[data-theme="keen"]::part(welcome-panel)
    {
        width: auto;
    }

    taskboard-manager[data-theme="keen"]::part(welcome-logo)
    {
        padding: 7px;
    }
}