
[part="config-header"] svg
{
    width: var(--dialog-header-icon-size);
    height: var(--dialog-header-icon-size);
}

[part="import-board-file"]
{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}
[part="import-board-file"]::part(label)
{
    grid-column: span 2;
}
[part="import-board-file"]::part(label)
{
    grid-row: 1;
}
[part="import-board-file"]::part(clear)
,[part="import-board-file"]::part(view-link)
{
    grid-row: 2;
}
[part="import-board-file"]::part(view-link)
{
    grid-column: 1;
}
[part="import-board-file"]::part(field)
{
    justify-content: center;
    display: grid;
    justify-content: center;
    justify-items: center;
}

[part="import-board-file"] svg
{
    height: 24px;
}

[part="import-content"]
{
    overflow: auto;
    padding: 1em;
}