
captioned-thumbnail svg
{
    width: 36px;
    height: 36px;
}

collection-browser
{
    margin: 1em;
    overflow: hidden;
}

collection-browser::part(gallery)
{
}

collection-browser::part(items)
{
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
    padding: 7px;
    overflow: hidden auto;
}

collection-browser captioned-thumbnail
{
    /* transition: all ease 1s; */
}

collection-browser captioned-thumbnail.match
{
    border: solid 1px highlight;
    order: 0;
}
collection-browser:has(captioned-thumbnail.match) captioned-thumbnail:not(.match)
{
    order: 1;
}

collection-browser::part(add-button)
{
    display: none;
}

[part="board-browser-actions"]
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
}

[part="board-browser-actions"] button
{
    width: 70px;
    justify-content: center;
}