[part="board-settings-form"]
{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

[part="board-fields"]
{
    overflow-y: auto;
    flex: 1;
}

[part="board-settings-footer"]
{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 7px;
    padding-block: 5px;
}
[part="board-settings-cancel"]
{
    grid-column: 3;
}
[part="board-settings-save"]
{
    grid-column: 4;
}

@media (min-width: 800px) 
{
    [part*="board-settings"]
    {
        width: 801px;
    }
}