task-board
{
    background-color: var(--board-background-color, transparent);
    color: var(--board-font-color);
}
task-board[style*="--board-background-source"]
{
    background:  var(--board-background-source), var(--board-background-color, transparent);
    background-size: var(--background-image-display);
    background-position: var(--background-image-position, var(--background-image-offset));
    background-repeat: var(--background-image-repeat);
}

task-list
{
    background: var(--list-background-color);
    color: var(--list-font-color);
    border-color: var(--list-border-color, transparent);
}
task-list::part(header)
{
    top: 0;
    margin-bottom: 14px;
}
task-list::part(name)
{
    color: inherit;
}
task-list.hide-color::part(color)
{
    display: none;
}
task-list.hide-color::part(header)
{
    grid-template-columns: 1fr auto;
}

task-card
{
    background-color: var(--task-background-color, canvas);
    width: var(--task-width, 300px);
    overflow: hidden;
    font-family: sans-serif;
    color: var(--task-font-color, currentcolor);
    font-size: var(--task-font-size, 12px);
    border-color: var(--task-border-color, var(--input-border-color));
    border-radius: var(--task-border-radius, 2px);
    border-top-width: var(--task-border-top, 1px);
    border-right-width: var(--task-border-right, 1px);
    border-bottom-width: var(--task-border-bottom, 1px);
    border-left-width: var(--task-border-left, 1px);
}
task-card::part(description)
{
    font: inherit;
}
.center-remove task-card::part(remove-button)
{
    align-self: center;
}
task-card::part(is-finished)
{
    align-self: flex-start;
}
.center-checkbox task-card::part(is-finished)
{
    align-self: center;
}

.hide-task-color task-card::part(color)
{
    display: none;
}

.task-color-border:not(.color-border-top,.color-border-right,.color-border-bottom,.color-border-left) task-card
{
    border-color: var(--task-color);
}
.task-color-border.color-border-top task-card
{
    border-top-color: var(--task-color);
}
.task-color-border.color-border-right task-card
{
    border-right-color: var(--task-color);
}
.task-color-border.color-border-bottom task-card
{
    border-bottom-color: var(--task-color);
}
.task-color-border.color-border-left task-card
{
    border-left-color: var(--task-color);
}
.task-color-background task-card
{
    background-color: var(--task-color);
}
.task-color-border task-card::part(color-container)
{
    display: block;
    margin-block: 1em;
    margin-inline-start: 1em;
    width: 16px;
    height: 16px;
    background-color: var(--task-color);
    border-radius: 50%;
    align-self: center;
}
.task-color-border task-card::part(color)
{
    display: none;
}

/* .task-color-border task-card
{
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto 1fr;
}

.task-color-border task-card::part(color-container)
,.task-color-border task-card::part(color)
{
    grid-row: 2;
    grid-column: 2;
    width: 14px;
    height: 14px;
    margin-block-end: 7px;
    margin-block-start: 0;
    border-radius: 3px;
    align-self: center;
    justify-self: center;
}

.task-color-border task-card::part(handle)
{
    grid-row: span 2;
    grid-column: 1;
}

.task-color-border task-card::part(is-finished)
,.task-color-border task-card::part(finished-indicator)
{
    grid-row: 1;
    grid-column: 2;
    margin-block-start: 7px;
    margin-block-end: 0;
}

.task-color-border task-card::part(description)
,.task-color-border task-card::part(remove-button)
{
    grid-row: span 2;
} */

@media (min-width: 665px) 
{
    task-list
    {
        width: var(--list-width);
    } 
}