@import url('https://fonts.googleapis.com/css?family=Assistant:700|Karla:400');

@import url('./properties.course.css');

@import url('./elements.course.css');

@import url('./app-menu.course.css');
@import url('./taskboard.course.css');
@import url('./data-page.course.css');


/* 

taskboard-manager[data-theme="course"]::part(find-board-button)
{
    background-color: var(--input-background);
    border: solid 1px var(--background-4);
    color: var(--font-1);
    border-radius: 3px;
    display: grid;
    align-items: center;
    text-align: left;
    grid-template-columns: auto 1fr;
    gap: 7px;
    font-style: italic;
    margin-left: 7px;
    margin-right: 3px;

    --icon-primary-color: var(--font-disabled);
    --icon-secondary-color: var(--input-background);
}
taskboard-manager[data-theme="course"]::part(find-board-button):hover
{
    color: var(--font-hover);
    --icon-primary-color: var(--font-hover);
}

taskboard-manager[data-theme="course"]::part(board-items)
{
    display: grid;
    gap: 7px;
    padding: 7px;
}

taskboard-manager[data-theme="course"]::part(boards)
{
    background-color: var(--surface-1);
    border-radius: 5px;
}


taskboard-manager[data-theme="course"]::part(board)
{
    --grip-color: var(--font-1);

    padding: 5px 7px;
    margin: 0;
    gap: 7px;
    align-items: center;
    border-radius: 3px;
    position: relative;
    border: solid 1px transparent;
}
taskboard-manager[data-theme="course"]::part(board):hover
{
    background-color: transparent;
    background-color: var(--surface-3);
    color: var(--font-2);
}
taskboard-manager[data-theme="course"]::part(board):hover::before
{
    background-color: var(--board-color, var(--font-2, currentcolor));
    content: '';
    width: 4px;
    height: 26px;
    border-radius: 3px;
    position: absolute;
    left: -2px;
    top: 50%;
    translate: 0 -50%;
}
taskboard-manager[data-theme="course"]::part(board selected)
{
    background-color: var(--tone-surface-2) !important;
    color: var(--tone-2) !important;
    --icon-primary-color: var(--tone-2) !important;
}
taskboard-manager[data-theme="course"]::part(board selected)::before
{
    background-color: var(--board-color, var(--font-active, currentcolor)) !important;
    content: '';
    width: 4px;
    height: 26px;
    border-radius: 3px;
    position: absolute;
    left: -2px;
    top: 50%;
    translate: 0 -50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

taskboard-manager[data-theme="course"]::part(menu-item-handle):hover
{
    --grip-color: var(--font-active);
}

taskboard-manager[data-theme="course"]::part(icon-button)
{
    --label-color: var(--font-2);
    --background-color: transparent;

    color: var(--label-color);
    --icon-primary-color: var(--tone-2);
    background: var(--background-color);
    --icon-secondary-color: rgb(0 0 0 / .6);
    border: none;

    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 5px;
    align-self: center;

    --button-icon-size: 24px;
}
taskboard-manager[data-theme="course"]::part(icon-button):hover
{
    --label-color: var(--font-hover);
}

taskboard-manager[data-theme="course"]::part(label-button)
{
    padding: 5px 14px;
    border-radius: 5px;
    border: solid 1px var(--surface-4);
    color: var(--font-2);


    --icon-primary-color: var(--tone-0);
    --icon-secondary-color: var(--background-color);

    background: none;
}
taskboard-manager[data-theme="course"]::part(label-button):hover
{
    color: var(--text-0);
    border-color: var(--text-1);
}
taskboard-manager[data-theme="course"]::part(label-button):active
{
    scale: .95;
    color: var(--text-0);
}

taskboard-manager[data-theme="course"]::part(welcome-panel)
{
    width: 550px;
}

taskboard-manager[data-theme="course"]::part(welcome-fieldset)
{
    display: grid;
    padding: 0;
    border: none;
    background-color: var(--background-2);
    color: var(--font-2);
}
taskboard-manager[data-theme="course"]::part(welcome-header)
{
    background-color: #D5F5D9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23D5F5D9' cx='50' cy='0' r='50'/%3E%3Cg fill='%23ccefd0' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c4e9c8' cx='50' cy='100' r='50'/%3E%3Cg fill='%23bbe3bf' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b2ddb7' cx='50' cy='200' r='50'/%3E%3Cg fill='%23aad7ae' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a2d1a6' cx='50' cy='300' r='50'/%3E%3Cg fill='%2399cb9e' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2391c595' cx='50' cy='400' r='50'/%3E%3Cg fill='%2388bf8d' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2380b985' cx='50' cy='500' r='50'/%3E%3Cg fill='%2378b37d' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2370ad74' cx='50' cy='600' r='50'/%3E%3Cg fill='%2367a86c' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%235fa264' cx='50' cy='700' r='50'/%3E%3Cg fill='%23579c5c' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%234e9654' cx='50' cy='800' r='50'/%3E%3Cg fill='%2345904c' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%233d8b44' cx='50' cy='900' r='50'/%3E%3Cg fill='%2333853c' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23297F34' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

taskboard-manager[data-theme="course"]::part(welcome-legend)
{
    display: none;
}

taskboard-manager[data-theme="course"]::part(welcome-logo)
{
    padding: 14px;
}

taskboard-manager[data-theme="course"]::part(welcome-description)
{
    padding: 7px 14px;
    margin: 0;
    color: var(--font-active);
    text-align: center;
}

taskboard-manager[data-theme="course"]::part(recent-fieldset)
{
    margin: 0;
    padding: 7px;
    border: none;
}

taskboard-manager[data-theme="course"]::part(recent-legend)
{
    display: none;
}

taskboard-manager[data-theme="course"]::part(recent-board-remove-button)
{
    --button-icon-size: 12px;
}

taskboard-manager[data-theme="course"]::part(task-board)
{
    
}

taskboard-manager[data-theme="course"]::part(list-header)
{
    margin: 7px;
    padding: 0;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto;
}

taskboard-manager[data-theme="course"]::part(list-color-container)
{
    grid-row: 2;
    grid-column: span 2;
    display: flex;
}

taskboard-manager[data-theme="course"]::part(list-color)
{
    flex: 1;
    height: 3px;
    border-radius: 2px;
}

taskboard-manager[data-theme="course"]::part(list-name)
{
    background: transparent;
    border: none;
    color: var(--font-active);
    font-size: 12px;
    font-weight: bold;
    padding: 5px 7px;
    text-transform: uppercase;
}

taskboard-manager[data-theme="course"]::part(list-collapse)
{
    border: none;
    color: var(--text);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
}
taskboard-manager[data-theme="course"]::part(list-collapse):hover
{
    color: var(--font-active);
}

taskboard-manager[data-theme="course"]::part(task-card)
{
    background-color: var(--task-background-color, var(--surface-1));
    border: solid 1px transparent;
    --task-focus-outline: solid medium var(--font-active);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    position: relative;
    overflow: initial;
}

taskboard-manager[data-theme="course"]::part(task-color)
{
    position: absolute;
    top: 10%;
    width: 5px;
    left: -3px;
    height: 80%;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

taskboard-manager[data-theme="course"]::part(task-checkbox)
{
    display: none;
}

taskboard-manager[data-theme="course"]::part(task-finished-indicator)
{
    --size: 20px;
    width: var(--size);
    height: var(--size);
    background-color: var(--background-1);
    opacity: .8;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    grid-row: 2;
    grid-column: 2;
}
taskboard-manager[data-theme="course"]::part(task-finished-indicator finished)::before
{
    margin-top: 3px;
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="%23fbf9fe" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
}

taskboard-manager[data-theme="course"]::part(task-remove-button)
{
    border: none;
    background: transparent;
    color: var(--font-2);
    height: auto;
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
taskboard-manager[data-theme="course"]::part(task-remove-button):hover
{
    --icon-primary-color: var(--font-active);
}

taskboard-manager[data-theme="course"]::part(task-description)
{
    background-color: transparent;
    border: none;
    margin-top: 7px;
    margin-bottom: 7px;
    outline: none;
}

taskboard-manager[data-theme="course"]::part(notification)
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media (min-width: 665px) 
{

}

@media (max-width: 665px)
{

    taskboard-manager[data-theme="course"]::part(welcome-panel)
    {
        width: auto;
    }

    taskboard-manager[data-theme="course"]::part(welcome-logo)
    {
        padding: 7px;
    }
} */