taskboard-manager[data-theme="course"]
{
    border: none;
    background-color: var(--surface-0);
    color: var(--text-surface);
    font-family: 'Karla';
    font-weight: 400;
    font-size: 14px;
}
/* debug */
taskboard-manager[data-theme="course"]
{
    margin: 3em;
}
taskboard-manager[data-theme="course"]
{
    /* --accent-0: #f4f9f4;
    --accent-1: #e7f2e6;
    --accent-2: #d0e5cd;
    --accent-3: #aacfa6;
    --accent-4: #7cb177;
    --accent-5: #599453;
    --accent-6: #467841;
    --accent-7: #396035;
    --accent-8: #304d2e;
    --accent-9: #284027;
    --accent-10: #1b321a; */

    
}

/** Elements */
taskboard-manager[data-theme="course"]::part(input)
{
    background: var(--surface-input);
}
taskboard-manager[data-theme="course"]::part(button)
{
    background: var(--surface-button);
    color: var(--text-button);
    border: none;
    border-radius: var(--border-radius-button);
    padding: .375rem .75rem;
    font-size: 12px;

    --icon-primary-color: var(--text-button);
    --icon-secondary-color: var(--surface-button);

}
taskboard-manager[data-theme="course"]::part(button):disabled
{
    background: var(--surface-button-disabled);
    opacity: .7;
    --icon-secondary-color: var(--surface-button-disabled);
    /* 
    color: var(--text-button);
    border: none;
    border-radius: var(--border-radius-button);
    padding: .375rem .75rem;
    font-size: 12px;

    --icon-primary-color: var(--text-button);
    --icon-secondary-color: var(--surface-button); */

}
taskboard-manager[data-theme="course"]::part(icon-button)
{
    background: var(--surface-icon-button);
    color: var(--text-icon-button);
    border: var(--border-icon-button);
    padding: .375rem;

    --icon-primary-color: var(--text-icon-button);
    --icon-secondary-color: var(--surface-0);
}

taskboard-manager[data-theme="course"]::part(dialog)
{
    z-index: 10;
    background: var(--surface-dialog);
    border: var(--border-dialog);
    border-radius: var(--border-radius-dialog);
    padding: var(--padding-dialog);
}

taskboard-manager[data-theme="course"]::part(dialog-header)
{
    /* color: var(--text-dialog-header); */
    /* --icon-primary-color: var(--text-dialog-header); */
    --icon-secondary-color: var(--surface-dialog); 
    --dialog-header-icon-size: 32px;
    font-size: 2.25em;
    padding-bottom: .75em;
}


taskboard-manager[data-theme="course"]::part(config-page-panel)
{
    background: var(--surface-panel);
    border: var(--border-panel);
    border-radius: var(--border-radius-panel);

    padding: var(--small-gap);
    gap: var(--small-gap);
}

taskboard-manager[data-theme="course"]::part(page-header)
{
    font-weight: bold;
    font-size: 16px;
    color: var(--text-page-header);
    text-transform: uppercase;
}

taskboard-manager[data-theme="course"]::part(fieldset)
{
    background: var(--surface-fieldset);
    border: var(--border-fieldset);
    border-radius: var(--border-radius-card);

    padding: var(--small-gap);
}

taskboard-manager[data-theme="course"]::part(legend)
{
    padding: 0 var(--small-gap);
}



taskboard-manager[data-theme="course"]::part(button-group)
{
    display: flex;
    gap: 0;
}

taskboard-manager[data-theme="course"]::part(group-button)
{
    background: var(--surface-group-button);
    color: var(--text-option);
    border: var(--border-option);
    border-radius: 0;
}
taskboard-manager[data-theme="course"]::part(group-button):hover
{
    background: var(--surface-group-button-highlight);
}

taskboard-manager[data-theme="course"]::part(group-button first)
{
    border-top-left-radius: var(--border-radius-button);
    border-bottom-left-radius: var(--border-radius-button);
}

taskboard-manager[data-theme="course"]::part(group-button selected)
,taskboard-manager[data-theme="course"]::part(group-button selected):hover
{
    background: var(--surface-button);
    color: var(--text-button);
}

taskboard-manager[data-theme="course"]::part(group-button last)
{
    border-top-right-radius: var(--border-radius-button);
    border-bottom-right-radius: var(--border-radius-button);
}

taskboard-manager[data-theme="course"]::part(input)
{
    background: var(--surface-input);
    color: var(--text-input);
    border: var(--border-input);
    border-radius: var(--border-radius-input);
    padding: var(--padding-input);
}

taskboard-manager[data-theme="course"] select
,taskboard-manager[data-theme="course"]::part(select)
{
    appearance: none;
    background: var(--surface-select)
    url("data:image/svg+xml,%3Csvg%20viewBox%3D'0%200%2020%2020'%20width%3D'12px'%20height%3D'12px'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cg%20stroke-width%3D'0'%3E%3C%2Fg%3E%3Cg%20stroke-linecap%3D'round'%20stroke-linejoin%3D'round'%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20d%3D'M8.72798%2015.795L3.72798%207.795C3.10356%206.79593%203.82183%205.5%204.99998%205.5L15%205.5C16.1781%205.5%2016.8964%206.79593%2016.272%207.795L11.272%2015.795C10.6845%2016.735%209.31549%2016.735%208.72798%2015.795Z'%20fill%3D'%23fff'%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E")
    calc(100% - 10px) center no-repeat !important;
    color: var(--text-select);
    border: var(--border-select);
    border-radius: var(--border-radius-select);
    padding: var(--padding-input);
}

taskboard-manager[data-theme="course"]::part(collection-browser)
{
    background: var(--surface-fieldset);
    border: var(--border-fieldset);
    border-radius: var(--border-radius-card);

    padding: var(--small-gap);
}
taskboard-manager[data-theme="course"]::part(board-browser-items)
{
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}

taskboard-manager[data-theme="course"]::part(board-gallery-item)
{
    border-radius: var(--border-radius-button);
}
taskboard-manager[data-theme="course"]::part(selected-board-gallery-item)
{
    /* background-color: rgb(212 147 6 / .1); */
    background-color: rgb(87 87 87 / .5);
    color: var(--clr-primary-a30);
    --icon-primary-color: var(--clr-primary-a30);
}
taskboard-manager[data-theme="course"]::part(board-gallery-item):hover
{
    background-color: rgb(87 87 87 / .5);
}
taskboard-manager[data-theme="course"]::part(board-gallery-item filter-select)
{
    border-color: var(--clr-primary-a30);
}



taskboard-manager[data-theme="course"]::part(browser-filter-input)
{
    background: var(--surface-0);
    color: var(--text-input);
    border: var(--border-input);
    border-radius: 0;
    border-top-left-radius: var(--border-radius-input);
    border-bottom-left-radius: var(--border-radius-input);
    padding: var(--padding-input);
}
taskboard-manager[data-theme="course"]::part(browser-filter-regex-button)
{
    background: var(--surface-0);
    color: var(--text-icon-button);
    border: none;
    border-top-right-radius: var(--border-radius-input);
    border-bottom-right-radius: var(--border-radius-input);
    margin-right: var(--small-gap);

    --icon-primary-color: var(--text-surface);
    --icon-secondary-color: var(--surface-0);
}
taskboard-manager[data-theme="course"]::part(browser-filter-regex-button):hover
,taskboard-manager[data-theme="course"]::part(browser-filter-regex-button active)
{
    --icon-primary-color: var(--text-icon-button);
    --icon-secondary-color: var(--clr-surface-a10);
}
taskboard-manager[data-theme="course"]::part(browser-filter-search-button)
{
    background: var(--surface-icon-button);
    color: var(--text-icon-button);
    border: var(--border-icon-button);
    /* padding: .375rem; */

    --icon-primary-color: var(--text-icon-button);
    --icon-secondary-color: var(--surface-0);
}

taskboard-manager[data-theme="course"]::part(cancel)
,taskboard-manager[data-theme="course"]::part(board-browser-cancel)
,taskboard-manager[data-theme="course"]::part(close-board-button)
{
    background: var(--surface-icon-button);
    color: var(--text-icon-button);
    border: var(--border-icon-button);
    /* padding: .375rem; */

    --icon-primary-color: var(--text-icon-button);
    --icon-secondary-color: var(--surface-0);
}

taskboard-manager[data-theme="course"]::part(confirmation-page)
{
    margin-bottom: 1em;
}