@media (prefers-color-scheme: light) 
{
    taskboard-manager[data-theme="course"] 
    {
        --accent-1: oklch(74.61% 0.171 253.56); /* primary */
        --accent-2: oklch(52.49% 0.113 253.98); /* dark */
        --accent-3: oklch(88.37% 0.07258208750520016 253.803287); /* light */


        /* --text-disabled: #555;
        --text-1: #666;
        --text-2: #999;
        --text-3: #CFCFCF;
        --text-highlight: var(--accent-1);
        --text-hover: #DDD;
        --text-active: #E2E2E2;
        --text-accent: #EEE; */

        /* Imported theme colors */

        /** Base colors */
        --clr-dark-a0: #000000;
        --clr-light-a0: #ffffff;

        /** Theme primary colors */
        --clr-primary-a0: #fa9e3c;
        --clr-primary-a10: #ed9b46;
        --clr-primary-a20: #e0984f;
        --clr-primary-a30: #d49457;
        --clr-primary-a40: #c7915f;
        --clr-primary-a50: #b98e66;

        /** Theme surface colors */
        --clr-surface-a0: #fff7f5;
        --clr-surface-a10: #f0e9e7;
        --clr-surface-a20: #e1dbda;
        --clr-surface-a30: #d3cecc;
        --clr-surface-a40: #c5c0bf;
        --clr-surface-a50: #b6b3b2;

        /** Theme tonal surface colors */
        --clr-surface-tonal-a0: #ffeee2;
        --clr-surface-tonal-a10: #f0e1d7;
        --clr-surface-tonal-a20: #e2d5cb;
        --clr-surface-tonal-a30: #d3c8c0;
        --clr-surface-tonal-a40: #c5bcb5;
        --clr-surface-tonal-a50: #b7afaa;

        /* End imported theme colors */

        /* Custom theme colors */
        --text-surface: var(--clr-dark-a0);
        --text-primary: var(--clr-dark-a0);

        /* --color-base-100: oklch(97% 0.0035 67.78);
        --color-base-200: oklch(95% 0.0081 61.42);
        --color-base-300: oklch(90% 0.0081 61.42);
        --color-base-content: oklch(40% 0.0081 61.42);
        --color-primary: oklch(23.27% 0.0249 284.3);
        --color-primary-content: oklch(94.22% 0.2505 117.44);
        --color-secondary: oklch(23.27% 0.0249 284.3);
        --color-secondary-content: oklch(73.92% 0.2135 50.94);
        --color-accent: oklch(23.27% 0.0249 284.3);
        --color-accent-content: oklch(88.92% 0.2061 189.9);
        --color-neutral: oklch(20% 0 0);
        --color-neutral-content: oklch(80% 0.0081 61.42);
        --color-info: oklch(80.39% 0.1148 241.68);
        --color-info-content: oklch(30.39% 0.1148 241.68);
        --color-success: oklch(73.92% 0.0901 136.87);
        --color-success-content: oklch(23.92% 0.0901 136.87);
        --color-warning: oklch(82% 0.189 84.429);
        --color-warning-content: oklch(43.92% 0.1085 80);
        --color-error: oklch(63% 0.237 25.331);
        --color-error-content: oklch(25% 0.092 26.042); */
    }
}
@media (prefers-color-scheme: dark) {
    
    taskboard-manager[data-theme="course"] 
    {

        --accent-1: oklch(74.61% 0.171 253.56); /* primary */
        --accent-2: oklch(52.49% 0.113 253.98); /* dark */
        --accent-3: oklch(88.37% 0.07258208750520016 253.803287); /* light */
        

        /* --background-1: #161616;
        --background-2: #1F1F1F;
        --background-3: #252525;
        --background-4: #2E2E2E;
        --background-5: #3D3D3D;
        --background-6: #464646; */

        /* --text-disabled: #555;
        --text-1: #666;
        --text-2: #999;
        --text-3: #CFCFCF;
        --text-highlight: var(--accent-1);
        --text-hover: #DDD;
        --text-active: #E2E2E2;
        --text-accent: #EEE; */

        --small-gap: calc(1rem - 6px);

        /* Imported theme colors */

        /** Base colors */
        --clr-dark-a0: #000000;
        --clr-light-a0: #ffffff;

        /** Theme primary colors */
        --clr-primary-a0: #d49306;
        --clr-primary-a10: #db9e32;
        --clr-primary-a20: #e2aa4f;
        --clr-primary-a30: #e8b668;
        --clr-primary-a40: #eec281;
        --clr-primary-a50: #f3ce9a;

        /** Theme surface colors */
        --clr-surface-a0: #121212;
        --clr-surface-a10: #282828;
        --clr-surface-a20: #3f3f3f;
        --clr-surface-a30: #575757;
        --clr-surface-a40: #717171;
        --clr-surface-a50: #8b8b8b;

        /** Theme tonal surface colors */
        --clr-surface-tonal-a0: #241e15;
        --clr-surface-tonal-a10: #39332a;
        --clr-surface-tonal-a20: #4f4941;
        --clr-surface-tonal-a30: #666059;
        --clr-surface-tonal-a40: #7d7973;
        --clr-surface-tonal-a50: #96928d;

        /* End imported theme colors */

        /* Custom theme colors */
        --text-surface: var(--clr-light-a0);
        --text-button: var(--clr-dark-a0);
        --text-icon-button: var(--clr-primary-a20);
        --text-menu-highlight: var(--clr-primary-a20);
        --text-remove-button: var(--clr-surface-a30);
        --text-remove-button-highlight: var(--text-surface);
        --text-tab: var(--text-suface);
        --text-page-header: var(--clr-primary-a40);
        --text-select: var(--clr-light-a0);
        --text-input: var(--clr-light-a0);
        --text-anchor: var(--clr-primary-a20);

        --text-decoration-anchor: none;
        --text-decoration-anchor-highlight: underline;

        --icon-option: var(--clr-primary-a40);
        --icon-tab: var(--clr-primary-a40);

        --surface-0: var(--clr-surface-a0);
        --surface-input: var(--clr-surface-a10);
        --surface-button: var(--clr-primary-a20);
        --surface-button-disabled: var(--clr-surface-a50);
        --surface-icon-button: transparent;
        --surface-menu: var(--clr-surface-a10);
        --surface-menu-item-highlight: var(--clr-surface-a30);
        --surface-menu-item-highlight-selected: var(--clr-primary-a0);
        --surface-option: var(--clr-surface-a20);
        --surface-group-button: var(--clr-surface-a10);
        --surface-group-button-highlight: var(--clr-surface-a20);
        --surface-card: var(--clr-surface-a10);
        --surface-list-header: var(--clr-surface-a20);
        --surface-dialog: var(--clr-surface-a10);
        --surface-panel: var(--clr-surface-a0);
        --surface-tab: var(--clr-surface-a20);
        --surface-fieldset: var(--clr-surface-a0);
        --surface-select: var(--clr-surface-a10);
        --surface-shortcut: var(--clr-surface-a10);
        --surface-shortcut-2: var(--clr-surface-a20);
        --surface-key: var(--clr-surface-a10);

        --border-outline: var(--clr-surface-a30);
        --border-icon-button: solid 1px var(--border-outline);
        --border-menu: none;
        /* --border-card: solid 1px var(--border-outline); */
        --border-card: none;
        --border-remove-button: none;
        --border-dialog: solid 1px var(--border-outline);
        --border-fieldset: solid 1px var(--clr-surface-a30);
        --border-select: solid 1px var(--clr-surface-a30);
        --border-input: none;
        
        --border-radius-button: 8px;
        --border-radius-card: 12px;
        --border-radius-dialog: 8px;
        --border-radius-panel: 8px;
        --border-radius-tab: 8px;
        --border-radius-input: 30px;
        --border-radius-select: 8px;

        --padding-dialog: 1rem;
        --padding-input: 5px 10px;

        /* --surface-0: #121212;
        --surface-1: #282828;
        --surface-3: #3f3f3f;
        --surface-4: #575757;
        --surface-5: #717171;

        --text-0: #ffffff;
        --text-1: #8b8b8b;

        --tone-0: #68bdba;
        --tone-1: #7bc4c1;
        --tone-2: #8cccc9;
        --tone-3: #9ed3d1;
        --tone-4: #aedad8;
        --tone-5: #bfe2e0;

        --tone-surface-0: #1b2120;
        --tone-surface-1: #303635;
        --tone-surface-2: #394a48;
        --tone-surface-3: #5e6362;
        --tone-surface-4: #777b7a;
        --tone-surface-5: #909493;


         --color-base-100: oklch(14% 0.004 49.25);
        --color-base-200: oklch(21% 0.006 56.043);
        --color-base-300: oklch(26% 0.007 34.298);
        --color-base-content: oklch(97% 0.001 106.424);
        --color-primary: oklch(86% 0.005 56.366);
        --color-primary-content: oklch(14% 0.004 49.25);
        --color-secondary: oklch(87% 0.169 91.605);
        --color-secondary-content: oklch(27% 0.077 45.635);
        --color-accent: oklch(89% 0.196 126.665);
        --color-accent-content: oklch(27% 0.072 132.109);
        --color-neutral: oklch(37% 0.01 67.558);
        --color-neutral-content: oklch(98% 0.001 106.423);
        --color-info: oklch(71% 0.143 215.221);
        --color-info-content: oklch(98% 0.019 200.873);
        --color-success: oklch(64% 0.2 131.684);
        --color-success-content: oklch(98% 0.031 120.757);
        --color-warning: oklch(79% 0.184 86.047);
        --color-warning-content: oklch(98% 0.026 102.212);
        --color-error: oklch(63% 0.237 25.331);
        --color-error-content: oklch(97% 0.014 343.198); */
    }
}

taskboard-manager[data-theme="course"]
{

    --brand-1: var(--accent-1);; /* primary */
    --brand-2: var(--accent-2);; /* dark */
    --brand-3: var(--accent-3);; /* light */

    --header-text-family: 'Assistant';
    --header-text-weight: 700;
    --header-text-size-1: 1.802rem;
    --header-text-size-2: 1.602rem;
    --header-text-size-3: 1.424rem;
    --header-text-size-4: 1.266rem;
    --header-text-size-5: 1.125rem;

    --small-text-size: 0.889rem;

    --input-background: var(--background-1);
    --background: var(--background-1);

    --icon-primary-color: var(--text-1);
    --icon-secondary-color: rgb(0 0 0 / .4);

    --button-hover-background: var(--background-4);
    --button-hover-color: var(--text-2);
}