#menu
{
    padding: 0;
    margin: 0;
    background-color: field;
    color: fieldtext;
    border-right: solid 1px graytext;
}

#header
{
    display: flex;
    gap: .5em;
    padding: .5em;
}

#branding
{
    grid-area: brand;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo.mark
{
    width: var(--brand-icon-size);
    height: var(--brand-icon-size);
}

#open-board-browser
{
    flex: 1;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    gap: 5px;
    text-align: center;
}

#boards
{
    margin: 0;
    padding: 0;
}

.board-menu-item
{
    margin: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: .25em;
    padding: .25em 1em;
}
.board-menu-item .name
{
    flex: 1;
}
.board-menu-item:hover
{
    background: highlight;
    color: highlighttext;
}
.board-menu-item[aria-current="page"]
{
    background: highlight;
    color: highlighttext;
}

@media (max-width: 665px) 
{
    #menu
    {
        max-width: 100vw;
        display: grid;
        border-right: none;
        order: 2;
    }

    #header
    {
        grid-row: 2;
        display: flex;
        justify-content: space-between;
        order: 3;
        background-color: field;
    }
    
    /* [part="menu"] .board-search
    {
        align-items: center;
        justify-content: center;
    } */
    #boards
    {
        display: flex;
        align-items: center;
        order: 2;
        background-color: field;
        border-top: solid 1px graytext;
    }
    #boards::part(items)
    {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        width: 0; /* doesn't actually set width, just corrects weird overflow issue */
        flex: 1;
        gap: var(--menu-gap);
        padding: var(--menu-padding);
        box-shadow: inset -10px 0 10px -10px rgb(0 0 0 / .8);
    }

    .menu-item-handle
    ,.board-menu-item [part="edit"]
    {
        display: none;
    }
    #boards a
    {
        padding: 12px 7px;
    }

    #new-board-button_list
    {
        display: flex;
        align-self: stretch;
        margin: 7px;
    }

    #new-board-button_list .label
    {
        display: none;
    }
}
@media (max-width: 800px) 
{
    
}

/* only desktop */
@media (min-width: 665px) 
{
    #menu
    {
        display: grid;
        grid-template-rows: auto 1fr;
        overflow: hidden;
        max-width: 330px;
    }


    #boards
    {
        display: grid;
        grid-template-rows: 1fr auto;
        overflow: hidden;
    }
    #boards::part(items)
    {
        margin: 0;
        padding: 0;
        display: grid;
        gap: .5em;
        overflow-y: auto;
        overflow-x: hidden;
        grid-auto-rows: max-content;
    }

    .board-menu-item
    {
        overflow: hidden;
    }

    .board-menu-item [part="edit"]
    {
        opacity: 0;
        transition: opacity 200ms ease;
    }
    .board-menu-item:hover [part="edit"]
    {
        opacity: 1;
    }

    .board-menu-item [part="edit"]:hover
    {
        opacity: 1;
    }

    .board-item-name
    {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #new-board-button_list
    {
        margin: 10px;
    }

    .menu-item-handle
    {
        display: flex;
        width: 10px;
        align-self: stretch;
        cursor: grab;
        border-radius: 3px;
        transform: translateY(-2px);
        
        background-image: radial-gradient(var(--grip-color, canvastext) 24%, transparent 24%),
        radial-gradient(var(--grip-color, canvastext) 10%, transparent 10%);
        background-size: 5px 5px;
        background-position: 0 0, 2px 4px;
    }
    .menu-item-handle:active
    {
        cursor: grabbing;
    }

    #new-board-button_list
    {
        margin-top: 1em;
        justify-self: center;
    }
}
@media (min-width: 800px) 
{

}